<div class="page-header">
  <h2>Les créateurs : Auteurs & Illustrateurs</h2>
</div>

<div class="row">
   <% @people.each do |p| -%>
      <div class="col-lg-2 game">
        <div class="thumbnail">
          <h3><%= link_to p.fullname, person_games_path(p)  %></h3>
          <%= image_tag "fallback/people.png" %>
        </div>
      </div>
   <% end -%>
</ul>


<% content_for :navbar do %>
  <%= link_to "Nouveau", new_person_path, :class => "btn btn-primary" %></li>
<% end  %>
