<li class="nav-header">Stats</li>
<li>Nombre de jeux<span class="badge right">1</span></li>
<li><%= link_to "Nouveauté", admin_games_path() %><span class="badge right">10</span></li>
<li class="nav-header">Les editions</li>
<li>Nombre d'editions<span class="badge right">10</span></li>
