<div class="btn-group">
  <%= link_to "#", opts[:link] do %>
    <%= icon_tag(opts[:icon]) if opts[:icon] %><%= title %>
    <span class="caret"></span>
  <% end -%>
  <ul class="dropdown-menu">
    <%= body %>
  </ul>
</div>
