<div class="page-haeder">
  <h1>Listing my Games</h1>
</div>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <%= render @account_games %>
  </tbody>
</table>

<% content_for :navbar do %>
  <li><%= link_to " Add games...", new_account_account_game_path(current_account) %></li>
<% end -%>