<h1>Listing account_games</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @account_games.each do |account_game| %>
  <tr>
    <td><%= link_to 'Show', account_game %></td>
    <td><%= link_to 'Edit', edit_account_game_path(account_game) %></td>
    <td><%= link_to 'Destroy', account_game, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account game', new_account_game_path %>
