<ul class="thumbnails">
  <% @games.each do |game| %>
      <%= render game %>
  <% end %>
</ul>


<% content_for :breadcrump do -%>
  <li><%= link_to @title, games_path -%></li>
<% end -%>
<% content_for :navbar do %>
  <%= link_to "Nouveau", new_game_path, :class => "btn btn-primary" %></li>
<% end %>
