<div class="page-header">
  <h2>Creer un nouveau jeu</h2>
</div>

<%= render 'form' %>

<% content_for :breadcrump do -%>
  <li><%= link_to "Tous les jeux", games_path %><span class="divider">/</span></li>
  <li><%= @title %></li>
<% end -%>
<% content_for :navbar do %>
<% end %>
