<div class="page-header">
  <h1>Creer un nouveu jeu</h1>
</div>

<%= render 'form' %>

<% content_for :navbar do %>
  <li class="nav-header">Gerer</li>
  <li><%= link_to "Creer jeu", new_game_path %></li>
  <li><%= link_to "Tous les jeux", games_path %></li>
<% end %>
