<div class="page-haeder">
  <h1><%= @game.name %></h1>
</div>

<%= notice %>


<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">General</a>
  </li>
  <li><a href="#">Extension</a></li>
  <li><a href="#">Editions</a></li>
</ul>

<%% content_for :navbar do %>

<%% end %>