<div class="row">
 <% @editors.each do |editor| -%>
 <div class="col-lg-2 game">
    <div class="thumbnail">
      <h3><%= link_to editor.name, editor_games_path(editor) %></h3>
      <%= image_tag editor.logo.image.normal.url, :alt => editor.name %>
    </div>
  </div>
 <% end -%>
</ul>

<% content_for :breadcrump do -%>
  <li><%= link_to @title, editors_path -%></li>
<% end -%>
<% content_for :navbar do %>
  <%= link_to "Nouveau", new_editor_path, :class => "btn btn-primary" %>
<% end -%>
