.flag16-abkhazia {
  background-image: image-url("flags16.png");
  background-position: 0px -16px;
  width: 16px;
  height: 16px;
}
.flag16-afghanistan {
  background-image: image-url("flags16.png");
  background-position: 0px -2080px;
  width: 16px;
  height: 16px;
}
.flag16-aland {
  background-image: image-url("flags16.png");
  background-position: 0px -32px;
  width: 16px;
  height: 16px;
}
.flag16-albania {
  background-image: image-url("flags16.png");
  background-position: 0px -48px;
  width: 16px;
  height: 16px;
}
.flag16-algeria {
  background-image: image-url("flags16.png");
  background-position: 0px -64px;
  width: 16px;
  height: 16px;
}
.flag16-american_samoa {
  background-image: image-url("flags16.png");
  background-position: 0px -80px;
  width: 16px;
  height: 16px;
}
.flag16-andorra {
  background-image: image-url("flags16.png");
  background-position: 0px -96px;
  width: 16px;
  height: 16px;
}
.flag16-angola {
  background-image: image-url("flags16.png");
  background-position: 0px -112px;
  width: 16px;
  height: 16px;
}
.flag16-anguilla {
  background-image: image-url("flags16.png");
  background-position: 0px -128px;
  width: 16px;
  height: 16px;
}
.flag16-antarctica {
  background-image: image-url("flags16.png");
  background-position: 0px -144px;
  width: 16px;
  height: 16px;
}
.flag16-antigua_and_barbuda {
  background-image: image-url("flags16.png");
  background-position: 0px -160px;
  width: 16px;
  height: 16px;
}
.flag16-argentina {
  background-image: image-url("flags16.png");
  background-position: 0px -176px;
  width: 16px;
  height: 16px;
}
.flag16-armenia {
  background-image: image-url("flags16.png");
  background-position: 0px -192px;
  width: 16px;
  height: 16px;
}
.flag16-aruba {
  background-image: image-url("flags16.png");
  background-position: 0px -208px;
  width: 16px;
  height: 16px;
}
.flag16-australia {
  background-image: image-url("flags16.png");
  background-position: 0px -224px;
  width: 16px;
  height: 16px;
}
.flag16-austria {
  background-image: image-url("flags16.png");
  background-position: 0px -240px;
  width: 16px;
  height: 16px;
}
.flag16-azerbaijan {
  background-image: image-url("flags16.png");
  background-position: 0px -256px;
  width: 16px;
  height: 16px;
}
.flag16-bahamas {
  background-image: image-url("flags16.png");
  background-position: 0px -272px;
  width: 16px;
  height: 16px;
}
.flag16-bahrain {
  background-image: image-url("flags16.png");
  background-position: 0px -288px;
  width: 16px;
  height: 16px;
}
.flag16-bangladesh {
  background-image: image-url("flags16.png");
  background-position: 0px -304px;
  width: 16px;
  height: 16px;
}
.flag16-barbados {
  background-image: image-url("flags16.png");
  background-position: 0px -320px;
  width: 16px;
  height: 16px;
}
.flag16-basque_country {
  background-image: image-url("flags16.png");
  background-position: 0px -336px;
  width: 16px;
  height: 16px;
}
.flag16-belarus {
  background-image: image-url("flags16.png");
  background-position: 0px -352px;
  width: 16px;
  height: 16px;
}
.flag16-belgium {
  background-image: image-url("flags16.png");
  background-position: 0px -368px;
  width: 16px;
  height: 16px;
}
.flag16-belize {
  background-image: image-url("flags16.png");
  background-position: 0px -384px;
  width: 16px;
  height: 16px;
}
.flag16-benin {
  background-image: image-url("flags16.png");
  background-position: 0px -400px;
  width: 16px;
  height: 16px;
}
.flag16-bermuda {
  background-image: image-url("flags16.png");
  background-position: 0px -416px;
  width: 16px;
  height: 16px;
}
.flag16-bhutan {
  background-image: image-url("flags16.png");
  background-position: 0px -432px;
  width: 16px;
  height: 16px;
}
.flag16-bolivia {
  background-image: image-url("flags16.png");
  background-position: 0px -448px;
  width: 16px;
  height: 16px;
}
.flag16-bosnia_and_herzegovina {
  background-image: image-url("flags16.png");
  background-position: 0px -464px;
  width: 16px;
  height: 16px;
}
.flag16-botswana {
  background-image: image-url("flags16.png");
  background-position: 0px -480px;
  width: 16px;
  height: 16px;
}
.flag16-brazil {
  background-image: image-url("flags16.png");
  background-position: 0px -496px;
  width: 16px;
  height: 16px;
}
.flag16-british_antarctic_territory {
  background-image: image-url("flags16.png");
  background-position: 0px -512px;
  width: 16px;
  height: 16px;
}
.flag16-british_virgin_islands {
  background-image: image-url("flags16.png");
  background-position: 0px -528px;
  width: 16px;
  height: 16px;
}
.flag16-brunei {
  background-image: image-url("flags16.png");
  background-position: 0px -544px;
  width: 16px;
  height: 16px;
}
.flag16-bulgaria {
  background-image: image-url("flags16.png");
  background-position: 0px -560px;
  width: 16px;
  height: 16px;
}
.flag16-burkina_faso {
  background-image: image-url("flags16.png");
  background-position: 0px -576px;
  width: 16px;
  height: 16px;
}
.flag16-burundi {
  background-image: image-url("flags16.png");
  background-position: 0px -592px;
  width: 16px;
  height: 16px;
}
.flag16-cambodia {
  background-image: image-url("flags16.png");
  background-position: 0px -608px;
  width: 16px;
  height: 16px;
}
.flag16-cameroon {
  background-image: image-url("flags16.png");
  background-position: 0px -624px;
  width: 16px;
  height: 16px;
}
.flag16-canada {
  background-image: image-url("flags16.png");
  background-position: 0px -640px;
  width: 16px;
  height: 16px;
}
.flag16-canary_islands {
  background-image: image-url("flags16.png");
  background-position: 0px -656px;
  width: 16px;
  height: 16px;
}
.flag16-cape_verde {
  background-image: image-url("flags16.png");
  background-position: 0px -672px;
  width: 16px;
  height: 16px;
}
.flag16-cayman_islands {
  background-image: image-url("flags16.png");
  background-position: 0px -688px;
  width: 16px;
  height: 16px;
}
.flag16-central_african_republic {
  background-image: image-url("flags16.png");
  background-position: 0px -704px;
  width: 16px;
  height: 16px;
}
.flag16-chad {
  background-image: image-url("flags16.png");
  background-position: 0px -720px;
  width: 16px;
  height: 16px;
}
.flag16-chile {
  background-image: image-url("flags16.png");
  background-position: 0px -736px;
  width: 16px;
  height: 16px;
}
.flag16-china {
  background-image: image-url("flags16.png");
  background-position: 0px -752px;
  width: 16px;
  height: 16px;
}
.flag16-christmas_island {
  background-image: image-url("flags16.png");
  background-position: 0px -768px;
  width: 16px;
  height: 16px;
}
.flag16-cocos_keeling_islands {
  background-image: image-url("flags16.png");
  background-position: 0px -784px;
  width: 16px;
  height: 16px;
}
.flag16-colombia {
  background-image: image-url("flags16.png");
  background-position: 0px -800px;
  width: 16px;
  height: 16px;
}
.flag16-commonwealth {
  background-image: image-url("flags16.png");
  background-position: 0px -816px;
  width: 16px;
  height: 16px;
}
.flag16-comoros {
  background-image: image-url("flags16.png");
  background-position: 0px -832px;
  width: 16px;
  height: 16px;
}
.flag16-cook_islands {
  background-image: image-url("flags16.png");
  background-position: 0px -848px;
  width: 16px;
  height: 16px;
}
.flag16-costa_rica {
  background-image: image-url("flags16.png");
  background-position: 0px -864px;
  width: 16px;
  height: 16px;
}
.flag16-cote_divoire {
  background-image: image-url("flags16.png");
  background-position: 0px -880px;
  width: 16px;
  height: 16px;
}
.flag16-croatia {
  background-image: image-url("flags16.png");
  background-position: 0px -896px;
  width: 16px;
  height: 16px;
}
.flag16-cuba {
  background-image: image-url("flags16.png");
  background-position: 0px -912px;
  width: 16px;
  height: 16px;
}
.flag16-curacao {
  background-image: image-url("flags16.png");
  background-position: 0px -928px;
  width: 16px;
  height: 16px;
}
.flag16-cyprus {
  background-image: image-url("flags16.png");
  background-position: 0px -944px;
  width: 16px;
  height: 16px;
}
.flag16-czech_republic {
  background-image: image-url("flags16.png");
  background-position: 0px -960px;
  width: 16px;
  height: 16px;
}
.flag16-democratic_republic_of_the_congo {
  background-image: image-url("flags16.png");
  background-position: 0px -976px;
  width: 16px;
  height: 16px;
}
.flag16-denmark {
  background-image: image-url("flags16.png");
  background-position: 0px -992px;
  width: 16px;
  height: 16px;
}
.flag16-djibouti {
  background-image: image-url("flags16.png");
  background-position: 0px -1008px;
  width: 16px;
  height: 16px;
}
.flag16-dominica {
  background-image: image-url("flags16.png");
  background-position: 0px -1024px;
  width: 16px;
  height: 16px;
}
.flag16-dominican_republic {
  background-image: image-url("flags16.png");
  background-position: 0px -1040px;
  width: 16px;
  height: 16px;
}
.flag16-east_timor {
  background-image: image-url("flags16.png");
  background-position: 0px -1056px;
  width: 16px;
  height: 16px;
}
.flag16-ecuador {
  background-image: image-url("flags16.png");
  background-position: 0px -1072px;
  width: 16px;
  height: 16px;
}
.flag16-egypt {
  background-image: image-url("flags16.png");
  background-position: 0px -1088px;
  width: 16px;
  height: 16px;
}
.flag16-el_salvador {
  background-image: image-url("flags16.png");
  background-position: 0px -1104px;
  width: 16px;
  height: 16px;
}
.flag16-england {
  background-image: image-url("flags16.png");
  background-position: 0px -1120px;
  width: 16px;
  height: 16px;
}
.flag16-equatorial_guinea {
  background-image: image-url("flags16.png");
  background-position: 0px -1136px;
  width: 16px;
  height: 16px;
}
.flag16-eritrea {
  background-image: image-url("flags16.png");
  background-position: 0px -1152px;
  width: 16px;
  height: 16px;
}
.flag16-estonia {
  background-image: image-url("flags16.png");
  background-position: 0px -1168px;
  width: 16px;
  height: 16px;
}
.flag16-ethiopia {
  background-image: image-url("flags16.png");
  background-position: 0px -1184px;
  width: 16px;
  height: 16px;
}
.flag16-european_union {
  background-image: image-url("flags16.png");
  background-position: 0px -1200px;
  width: 16px;
  height: 16px;
}
.flag16-falkland_islands {
  background-image: image-url("flags16.png");
  background-position: 0px -1216px;
  width: 16px;
  height: 16px;
}
.flag16-faroes {
  background-image: image-url("flags16.png");
  background-position: 0px -1232px;
  width: 16px;
  height: 16px;
}
.flag16-fiji {
  background-image: image-url("flags16.png");
  background-position: 0px -1248px;
  width: 16px;
  height: 16px;
}
.flag16-finland {
  background-image: image-url("flags16.png");
  background-position: 0px -1264px;
  width: 16px;
  height: 16px;
}
.flag16-france {
  background-image: image-url("flags16.png");
  background-position: 0px -1280px;
  width: 16px;
  height: 16px;
}
.flag16-french_polynesia {
  background-image: image-url("flags16.png");
  background-position: 0px -1296px;
  width: 16px;
  height: 16px;
}
.flag16-french_southern_territories {
  background-image: image-url("flags16.png");
  background-position: 0px -1312px;
  width: 16px;
  height: 16px;
}
.flag16-gabon {
  background-image: image-url("flags16.png");
  background-position: 0px -1328px;
  width: 16px;
  height: 16px;
}
.flag16-gambia {
  background-image: image-url("flags16.png");
  background-position: 0px -1344px;
  width: 16px;
  height: 16px;
}
.flag16-georgia {
  background-image: image-url("flags16.png");
  background-position: 0px -1360px;
  width: 16px;
  height: 16px;
}
.flag16-germany {
  background-image: image-url("flags16.png");
  background-position: 0px -1376px;
  width: 16px;
  height: 16px;
}
.flag16-ghana {
  background-image: image-url("flags16.png");
  background-position: 0px -1392px;
  width: 16px;
  height: 16px;
}
.flag16-gibraltar {
  background-image: image-url("flags16.png");
  background-position: 0px -1408px;
  width: 16px;
  height: 16px;
}
.flag16-gosquared {
  background-image: image-url("flags16.png");
  background-position: 0px -1424px;
  width: 16px;
  height: 16px;
}
.flag16-greece {
  background-image: image-url("flags16.png");
  background-position: 0px -1440px;
  width: 16px;
  height: 16px;
}
.flag16-greenland {
  background-image: image-url("flags16.png");
  background-position: 0px -1456px;
  width: 16px;
  height: 16px;
}
.flag16-grenada {
  background-image: image-url("flags16.png");
  background-position: 0px -1472px;
  width: 16px;
  height: 16px;
}
.flag16-guam {
  background-image: image-url("flags16.png");
  background-position: 0px -1488px;
  width: 16px;
  height: 16px;
}
.flag16-guatemala {
  background-image: image-url("flags16.png");
  background-position: 0px -1504px;
  width: 16px;
  height: 16px;
}
.flag16-guernsey {
  background-image: image-url("flags16.png");
  background-position: 0px -1520px;
  width: 16px;
  height: 16px;
}
.flag16-guinea {
  background-image: image-url("flags16.png");
  background-position: 0px -1536px;
  width: 16px;
  height: 16px;
}
.flag16-guinea_bissau {
  background-image: image-url("flags16.png");
  background-position: 0px -1552px;
  width: 16px;
  height: 16px;
}
.flag16-guyana {
  background-image: image-url("flags16.png");
  background-position: 0px -1568px;
  width: 16px;
  height: 16px;
}
.flag16-haiti {
  background-image: image-url("flags16.png");
  background-position: 0px -1584px;
  width: 16px;
  height: 16px;
}
.flag16-honduras {
  background-image: image-url("flags16.png");
  background-position: 0px -1600px;
  width: 16px;
  height: 16px;
}
.flag16-hong_kong {
  background-image: image-url("flags16.png");
  background-position: 0px -1616px;
  width: 16px;
  height: 16px;
}
.flag16-hungary {
  background-image: image-url("flags16.png");
  background-position: 0px -1632px;
  width: 16px;
  height: 16px;
}
.flag16-iceland {
  background-image: image-url("flags16.png");
  background-position: 0px -1648px;
  width: 16px;
  height: 16px;
}
.flag16-india {
  background-image: image-url("flags16.png");
  background-position: 0px -1664px;
  width: 16px;
  height: 16px;
}
.flag16-indonesia {
  background-image: image-url("flags16.png");
  background-position: 0px -1680px;
  width: 16px;
  height: 16px;
}
.flag16-iran {
  background-image: image-url("flags16.png");
  background-position: 0px -1696px;
  width: 16px;
  height: 16px;
}
.flag16-iraq {
  background-image: image-url("flags16.png");
  background-position: 0px -1712px;
  width: 16px;
  height: 16px;
}
.flag16-ireland {
  background-image: image-url("flags16.png");
  background-position: 0px -1728px;
  width: 16px;
  height: 16px;
}
.flag16-isle_of_man {
  background-image: image-url("flags16.png");
  background-position: 0px -1744px;
  width: 16px;
  height: 16px;
}
.flag16-israel {
  background-image: image-url("flags16.png");
  background-position: 0px -1760px;
  width: 16px;
  height: 16px;
}
.flag16-italy {
  background-image: image-url("flags16.png");
  background-position: 0px -1776px;
  width: 16px;
  height: 16px;
}
.flag16-jamaica {
  background-image: image-url("flags16.png");
  background-position: 0px -1792px;
  width: 16px;
  height: 16px;
}
.flag16-japan {
  background-image: image-url("flags16.png");
  background-position: 0px -1808px;
  width: 16px;
  height: 16px;
}
.flag16-jersey {
  background-image: image-url("flags16.png");
  background-position: 0px -1824px;
  width: 16px;
  height: 16px;
}
.flag16-jordan {
  background-image: image-url("flags16.png");
  background-position: 0px -1840px;
  width: 16px;
  height: 16px;
}
.flag16-kazakhstan {
  background-image: image-url("flags16.png");
  background-position: 0px -1856px;
  width: 16px;
  height: 16px;
}
.flag16-kenya {
  background-image: image-url("flags16.png");
  background-position: 0px -1872px;
  width: 16px;
  height: 16px;
}
.flag16-kiribati {
  background-image: image-url("flags16.png");
  background-position: 0px -1888px;
  width: 16px;
  height: 16px;
}
.flag16-kosovo {
  background-image: image-url("flags16.png");
  background-position: 0px -1904px;
  width: 16px;
  height: 16px;
}
.flag16-kuwait {
  background-image: image-url("flags16.png");
  background-position: 0px -1920px;
  width: 16px;
  height: 16px;
}
.flag16-kyrgyzstan {
  background-image: image-url("flags16.png");
  background-position: 0px -1936px;
  width: 16px;
  height: 16px;
}
.flag16-laos {
  background-image: image-url("flags16.png");
  background-position: 0px -1952px;
  width: 16px;
  height: 16px;
}
.flag16-latvia {
  background-image: image-url("flags16.png");
  background-position: 0px -1968px;
  width: 16px;
  height: 16px;
}
.flag16-lebanon {
  background-image: image-url("flags16.png");
  background-position: 0px -1984px;
  width: 16px;
  height: 16px;
}
.flag16-lesotho {
  background-image: image-url("flags16.png");
  background-position: 0px -2000px;
  width: 16px;
  height: 16px;
}
.flag16-liberia {
  background-image: image-url("flags16.png");
  background-position: 0px -2016px;
  width: 16px;
  height: 16px;
}
.flag16-libya {
  background-image: image-url("flags16.png");
  background-position: 0px -2032px;
  width: 16px;
  height: 16px;
}
.flag16-liechtenstein {
  background-image: image-url("flags16.png");
  background-position: 0px -2048px;
  width: 16px;
  height: 16px;
}
.flag16-lithuania {
  background-image: image-url("flags16.png");
  background-position: 0px -2064px;
  width: 16px;
  height: 16px;
}
.flag16-luxembourg {
  background-image: image-url("flags16.png");
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
.flag16-macau {
  background-image: image-url("flags16.png");
  background-position: 0px -2096px;
  width: 16px;
  height: 16px;
}
.flag16-macedonia {
  background-image: image-url("flags16.png");
  background-position: 0px -2112px;
  width: 16px;
  height: 16px;
}
.flag16-madagascar {
  background-image: image-url("flags16.png");
  background-position: 0px -2128px;
  width: 16px;
  height: 16px;
}
.flag16-malawi {
  background-image: image-url("flags16.png");
  background-position: 0px -2144px;
  width: 16px;
  height: 16px;
}
.flag16-malaysia {
  background-image: image-url("flags16.png");
  background-position: 0px -2160px;
  width: 16px;
  height: 16px;
}
.flag16-maldives {
  background-image: image-url("flags16.png");
  background-position: 0px -2176px;
  width: 16px;
  height: 16px;
}
.flag16-mali {
  background-image: image-url("flags16.png");
  background-position: 0px -2192px;
  width: 16px;
  height: 16px;
}
.flag16-malta {
  background-image: image-url("flags16.png");
  background-position: 0px -2208px;
  width: 16px;
  height: 16px;
}
.flag16-mars {
  background-image: image-url("flags16.png");
  background-position: 0px -2224px;
  width: 16px;
  height: 16px;
}
.flag16-marshall_islands {
  background-image: image-url("flags16.png");
  background-position: 0px -2240px;
  width: 16px;
  height: 16px;
}
.flag16-martinique {
  background-image: image-url("flags16.png");
  background-position: 0px -2256px;
  width: 16px;
  height: 16px;
}
.flag16-mauritania {
  background-image: image-url("flags16.png");
  background-position: 0px -2272px;
  width: 16px;
  height: 16px;
}
.flag16-mauritius {
  background-image: image-url("flags16.png");
  background-position: 0px -2288px;
  width: 16px;
  height: 16px;
}
.flag16-mayotte {
  background-image: image-url("flags16.png");
  background-position: 0px -2304px;
  width: 16px;
  height: 16px;
}
.flag16-mexico {
  background-image: image-url("flags16.png");
  background-position: 0px -2320px;
  width: 16px;
  height: 16px;
}
.flag16-micronesia {
  background-image: image-url("flags16.png");
  background-position: 0px -2336px;
  width: 16px;
  height: 16px;
}
.flag16-moldova {
  background-image: image-url("flags16.png");
  background-position: 0px -2352px;
  width: 16px;
  height: 16px;
}
.flag16-monaco {
  background-image: image-url("flags16.png");
  background-position: 0px -2368px;
  width: 16px;
  height: 16px;
}
.flag16-mongolia {
  background-image: image-url("flags16.png");
  background-position: 0px -2384px;
  width: 16px;
  height: 16px;
}
.flag16-montenegro {
  background-image: image-url("flags16.png");
  background-position: 0px -2400px;
  width: 16px;
  height: 16px;
}
.flag16-montserrat {
  background-image: image-url("flags16.png");
  background-position: 0px -2416px;
  width: 16px;
  height: 16px;
}
.flag16-morocco {
  background-image: image-url("flags16.png");
  background-position: 0px -2432px;
  width: 16px;
  height: 16px;
}
.flag16-mozambique {
  background-image: image-url("flags16.png");
  background-position: 0px -2448px;
  width: 16px;
  height: 16px;
}
.flag16-myanmar {
  background-image: image-url("flags16.png");
  background-position: 0px -2464px;
  width: 16px;
  height: 16px;
}
.flag16-nagorno_karabakh {
  background-image: image-url("flags16.png");
  background-position: 0px -2480px;
  width: 16px;
  height: 16px;
}
.flag16-namibia {
  background-image: image-url("flags16.png");
  background-position: 0px -2496px;
  width: 16px;
  height: 16px;
}
.flag16-nato {
  background-image: image-url("flags16.png");
  background-position: 0px -2512px;
  width: 16px;
  height: 16px;
}
.flag16-nauru {
  background-image: image-url("flags16.png");
  background-position: 0px -2528px;
  width: 16px;
  height: 16px;
}
.flag16-nepal {
  background-image: image-url("flags16.png");
  background-position: 0px -2544px;
  width: 16px;
  height: 16px;
}
.flag16-netherlands {
  background-image: image-url("flags16.png");
  background-position: 0px -2560px;
  width: 16px;
  height: 16px;
}
.flag16-netherlands_antilles {
  background-image: image-url("flags16.png");
  background-position: 0px -2576px;
  width: 16px;
  height: 16px;
}
.flag16-new_caledonia {
  background-image: image-url("flags16.png");
  background-position: 0px -2592px;
  width: 16px;
  height: 16px;
}
.flag16-new_zealand {
  background-image: image-url("flags16.png");
  background-position: 0px -2608px;
  width: 16px;
  height: 16px;
}
.flag16-nicaragua {
  background-image: image-url("flags16.png");
  background-position: 0px -2624px;
  width: 16px;
  height: 16px;
}
.flag16-niger {
  background-image: image-url("flags16.png");
  background-position: 0px -2640px;
  width: 16px;
  height: 16px;
}
.flag16-nigeria {
  background-image: image-url("flags16.png");
  background-position: 0px -2656px;
  width: 16px;
  height: 16px;
}
.flag16-niue {
  background-image: image-url("flags16.png");
  background-position: 0px -2672px;
  width: 16px;
  height: 16px;
}
.flag16-norfolk_island {
  background-image: image-url("flags16.png");
  background-position: 0px -2688px;
  width: 16px;
  height: 16px;
}
.flag16-north_korea {
  background-image: image-url("flags16.png");
  background-position: 0px -2704px;
  width: 16px;
  height: 16px;
}
.flag16-northern_cyprus {
  background-image: image-url("flags16.png");
  background-position: 0px -2720px;
  width: 16px;
  height: 16px;
}
.flag16-northern_mariana_islands {
  background-image: image-url("flags16.png");
  background-position: 0px -2736px;
  width: 16px;
  height: 16px;
}
.flag16-norway {
  background-image: image-url("flags16.png");
  background-position: 0px -2752px;
  width: 16px;
  height: 16px;
}
.flag16-olympics {
  background-image: image-url("flags16.png");
  background-position: 0px -2768px;
  width: 16px;
  height: 16px;
}
.flag16-oman {
  background-image: image-url("flags16.png");
  background-position: 0px -2784px;
  width: 16px;
  height: 16px;
}
.flag16-pakistan {
  background-image: image-url("flags16.png");
  background-position: 0px -2800px;
  width: 16px;
  height: 16px;
}
.flag16-palau {
  background-image: image-url("flags16.png");
  background-position: 0px -2816px;
  width: 16px;
  height: 16px;
}
.flag16-palestine {
  background-image: image-url("flags16.png");
  background-position: 0px -2832px;
  width: 16px;
  height: 16px;
}
.flag16-panama {
  background-image: image-url("flags16.png");
  background-position: 0px -2848px;
  width: 16px;
  height: 16px;
}
.flag16-papua_new_guinea {
  background-image: image-url("flags16.png");
  background-position: 0px -2864px;
  width: 16px;
  height: 16px;
}
.flag16-paraguay {
  background-image: image-url("flags16.png");
  background-position: 0px -2880px;
  width: 16px;
  height: 16px;
}
.flag16-peru {
  background-image: image-url("flags16.png");
  background-position: 0px -2896px;
  width: 16px;
  height: 16px;
}
.flag16-philippines {
  background-image: image-url("flags16.png");
  background-position: 0px -2912px;
  width: 16px;
  height: 16px;
}
.flag16-pitcairn_islands {
  background-image: image-url("flags16.png");
  background-position: 0px -2928px;
  width: 16px;
  height: 16px;
}
.flag16-poland {
  background-image: image-url("flags16.png");
  background-position: 0px -2944px;
  width: 16px;
  height: 16px;
}
.flag16-portugal {
  background-image: image-url("flags16.png");
  background-position: 0px -2960px;
  width: 16px;
  height: 16px;
}
.flag16-puerto_rico {
  background-image: image-url("flags16.png");
  background-position: 0px -2976px;
  width: 16px;
  height: 16px;
}
.flag16-qatar {
  background-image: image-url("flags16.png");
  background-position: 0px -2992px;
  width: 16px;
  height: 16px;
}
.flag16-red_cross {
  background-image: image-url("flags16.png");
  background-position: 0px -3008px;
  width: 16px;
  height: 16px;
}
.flag16-republic_of_the_congo {
  background-image: image-url("flags16.png");
  background-position: 0px -3024px;
  width: 16px;
  height: 16px;
}
.flag16-romania {
  background-image: image-url("flags16.png");
  background-position: 0px -3040px;
  width: 16px;
  height: 16px;
}
.flag16-russia {
  background-image: image-url("flags16.png");
  background-position: 0px -3056px;
  width: 16px;
  height: 16px;
}
.flag16-rwanda {
  background-image: image-url("flags16.png");
  background-position: 0px -3072px;
  width: 16px;
  height: 16px;
}
.flag16-saint_barthelemy {
  background-image: image-url("flags16.png");
  background-position: 0px -3088px;
  width: 16px;
  height: 16px;
}
.flag16-saint_helena {
  background-image: image-url("flags16.png");
  background-position: 0px -3104px;
  width: 16px;
  height: 16px;
}
.flag16-saint_kitts_and_nevis {
  background-image: image-url("flags16.png");
  background-position: 0px -3120px;
  width: 16px;
  height: 16px;
}
.flag16-saint_lucia {
  background-image: image-url("flags16.png");
  background-position: 0px -3136px;
  width: 16px;
  height: 16px;
}
.flag16-saint_martin {
  background-image: image-url("flags16.png");
  background-position: 0px -3152px;
  width: 16px;
  height: 16px;
}
.flag16-saint_vincent_and_the_grenadines {
  background-image: image-url("flags16.png");
  background-position: 0px -3168px;
  width: 16px;
  height: 16px;
}
.flag16-samoa {
  background-image: image-url("flags16.png");
  background-position: 0px -3184px;
  width: 16px;
  height: 16px;
}
.flag16-san_marino {
  background-image: image-url("flags16.png");
  background-position: 0px -3200px;
  width: 16px;
  height: 16px;
}
.flag16-sao_tome_and_principe {
  background-image: image-url("flags16.png");
  background-position: 0px -3216px;
  width: 16px;
  height: 16px;
}
.flag16-saudi_arabia {
  background-image: image-url("flags16.png");
  background-position: 0px -3232px;
  width: 16px;
  height: 16px;
}
.flag16-scotland {
  background-image: image-url("flags16.png");
  background-position: 0px -3248px;
  width: 16px;
  height: 16px;
}
.flag16-senegal {
  background-image: image-url("flags16.png");
  background-position: 0px -3264px;
  width: 16px;
  height: 16px;
}
.flag16-serbia {
  background-image: image-url("flags16.png");
  background-position: 0px -3280px;
  width: 16px;
  height: 16px;
}
.flag16-seychelles {
  background-image: image-url("flags16.png");
  background-position: 0px -3296px;
  width: 16px;
  height: 16px;
}
.flag16-sierra_leone {
  background-image: image-url("flags16.png");
  background-position: 0px -3312px;
  width: 16px;
  height: 16px;
}
.flag16-singapore {
  background-image: image-url("flags16.png");
  background-position: 0px -3328px;
  width: 16px;
  height: 16px;
}
.flag16-slovakia {
  background-image: image-url("flags16.png");
  background-position: 0px -3344px;
  width: 16px;
  height: 16px;
}
.flag16-slovenia {
  background-image: image-url("flags16.png");
  background-position: 0px -3360px;
  width: 16px;
  height: 16px;
}
.flag16-solomon_islands {
  background-image: image-url("flags16.png");
  background-position: 0px -3376px;
  width: 16px;
  height: 16px;
}
.flag16-somalia {
  background-image: image-url("flags16.png");
  background-position: 0px -3392px;
  width: 16px;
  height: 16px;
}
.flag16-somaliland {
  background-image: image-url("flags16.png");
  background-position: 0px -3408px;
  width: 16px;
  height: 16px;
}
.flag16-south_africa {
  background-image: image-url("flags16.png");
  background-position: 0px -3424px;
  width: 16px;
  height: 16px;
}
.flag16-south_georgia_and_the_south_sandwich_islands {
  background-image: image-url("flags16.png");
  background-position: 0px -3440px;
  width: 16px;
  height: 16px;
}
.flag16-south_korea {
  background-image: image-url("flags16.png");
  background-position: 0px -3456px;
  width: 16px;
  height: 16px;
}
.flag16-south_ossetia {
  background-image: image-url("flags16.png");
  background-position: 0px -3472px;
  width: 16px;
  height: 16px;
}
.flag16-south_sudan {
  background-image: image-url("flags16.png");
  background-position: 0px -3488px;
  width: 16px;
  height: 16px;
}
.flag16-spain {
  background-image: image-url("flags16.png");
  background-position: 0px -3504px;
  width: 16px;
  height: 16px;
}
.flag16-sri_lanka {
  background-image: image-url("flags16.png");
  background-position: 0px -3520px;
  width: 16px;
  height: 16px;
}
.flag16-sudan {
  background-image: image-url("flags16.png");
  background-position: 0px -3536px;
  width: 16px;
  height: 16px;
}
.flag16-suriname {
  background-image: image-url("flags16.png");
  background-position: 0px -3552px;
  width: 16px;
  height: 16px;
}
.flag16-swaziland {
  background-image: image-url("flags16.png");
  background-position: 0px -3568px;
  width: 16px;
  height: 16px;
}
.flag16-sweden {
  background-image: image-url("flags16.png");
  background-position: 0px -3584px;
  width: 16px;
  height: 16px;
}
.flag16-switzerland {
  background-image: image-url("flags16.png");
  background-position: 0px -3600px;
  width: 16px;
  height: 16px;
}
.flag16-syria {
  background-image: image-url("flags16.png");
  background-position: 0px -3616px;
  width: 16px;
  height: 16px;
}
.flag16-taiwan {
  background-image: image-url("flags16.png");
  background-position: 0px -3632px;
  width: 16px;
  height: 16px;
}
.flag16-tajikistan {
  background-image: image-url("flags16.png");
  background-position: 0px -3648px;
  width: 16px;
  height: 16px;
}
.flag16-tanzania {
  background-image: image-url("flags16.png");
  background-position: 0px -3664px;
  width: 16px;
  height: 16px;
}
.flag16-thailand {
  background-image: image-url("flags16.png");
  background-position: 0px -3680px;
  width: 16px;
  height: 16px;
}
.flag16-togo {
  background-image: image-url("flags16.png");
  background-position: 0px -3696px;
  width: 16px;
  height: 16px;
}
.flag16-tokelau {
  background-image: image-url("flags16.png");
  background-position: 0px -3712px;
  width: 16px;
  height: 16px;
}
.flag16-tonga {
  background-image: image-url("flags16.png");
  background-position: 0px -3728px;
  width: 16px;
  height: 16px;
}
.flag16-trinidad_and_tobago {
  background-image: image-url("flags16.png");
  background-position: 0px -3744px;
  width: 16px;
  height: 16px;
}
.flag16-tunisia {
  background-image: image-url("flags16.png");
  background-position: 0px -3760px;
  width: 16px;
  height: 16px;
}
.flag16-turkey {
  background-image: image-url("flags16.png");
  background-position: 0px -3776px;
  width: 16px;
  height: 16px;
}
.flag16-turkmenistan {
  background-image: image-url("flags16.png");
  background-position: 0px -3792px;
  width: 16px;
  height: 16px;
}
.flag16-turks_and_caicos_islands {
  background-image: image-url("flags16.png");
  background-position: 0px -3808px;
  width: 16px;
  height: 16px;
}
.flag16-tuvalu {
  background-image: image-url("flags16.png");
  background-position: 0px -3824px;
  width: 16px;
  height: 16px;
}
.flag16-uganda {
  background-image: image-url("flags16.png");
  background-position: 0px -3840px;
  width: 16px;
  height: 16px;
}
.flag16-ukraine {
  background-image: image-url("flags16.png");
  background-position: 0px -3856px;
  width: 16px;
  height: 16px;
}
.flag16-united_arab_emirates {
  background-image: image-url("flags16.png");
  background-position: 0px -3872px;
  width: 16px;
  height: 16px;
}
.flag16-united_kingdom {
  background-image: image-url("flags16.png");
  background-position: 0px -3888px;
  width: 16px;
  height: 16px;
}
.flag16-united_nations {
  background-image: image-url("flags16.png");
  background-position: 0px -3904px;
  width: 16px;
  height: 16px;
}
.flag16-united_states {
  background-image: image-url("flags16.png");
  background-position: 0px -3920px;
  width: 16px;
  height: 16px;
}
.flag16-unknown {
  background-image: image-url("flags16.png");
  background-position: 0px -3936px;
  width: 16px;
  height: 16px;
}
.flag16-uruguay {
  background-image: image-url("flags16.png");
  background-position: 0px -3952px;
  width: 16px;
  height: 16px;
}
.flag16-us_virgin_islands {
  background-image: image-url("flags16.png");
  background-position: 0px -3968px;
  width: 16px;
  height: 16px;
}
.flag16-uzbekistan {
  background-image: image-url("flags16.png");
  background-position: 0px -3984px;
  width: 16px;
  height: 16px;
}
.flag16-vanuatu {
  background-image: image-url("flags16.png");
  background-position: 0px -4000px;
  width: 16px;
  height: 16px;
}
.flag16-vatican_city {
  background-image: image-url("flags16.png");
  background-position: 0px -4016px;
  width: 16px;
  height: 16px;
}
.flag16-venezuela {
  background-image: image-url("flags16.png");
  background-position: 0px -4032px;
  width: 16px;
  height: 16px;
}
.flag16-vietnam {
  background-image: image-url("flags16.png");
  background-position: 0px -4048px;
  width: 16px;
  height: 16px;
}
.flag16-wales {
  background-image: image-url("flags16.png");
  background-position: 0px -4064px;
  width: 16px;
  height: 16px;
}
.flag16-wallis_and_futuna {
  background-image: image-url("flags16.png");
  background-position: 0px -4080px;
  width: 16px;
  height: 16px;
}
.flag16-western_sahara {
  background-image: image-url("flags16.png");
  background-position: 0px -4096px;
  width: 16px;
  height: 16px;
}
.flag16-yemen {
  background-image: image-url("flags16.png");
  background-position: 0px -4112px;
  width: 16px;
  height: 16px;
}
.flag16-zambia {
  background-image: image-url("flags16.png");
  background-position: 0px -4128px;
  width: 16px;
  height: 16px;
}
.flag16-zimbabwe {
  background-image: image-url("flags16.png");
  background-position: 0px -4144px;
  width: 16px;
  height: 16px;
}
