[class^="flag-"], [class*=" flag-"] {
  display: inline-block;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
.flag-abkhazia {
  background-image: url(flags32.png);
  background-position: 0px -32px;
  width: 32px;
  height: 32px;
}
.flag-afghanistan {
  background-image: url(flags32.png);
  background-position: 0px -4160px;
  width: 32px;
  height: 32px;
}
.flag-aland {
  background-image: url(flags32.png);
  background-position: 0px -64px;
  width: 32px;
  height: 32px;
}
.flag-albania {
  background-image: url(flags32.png);
  background-position: 0px -96px;
  width: 32px;
  height: 32px;
}
.flag-algeria {
  background-image: url(flags32.png);
  background-position: 0px -128px;
  width: 32px;
  height: 32px;
}
.flag-american_samoa {
  background-image: url(flags32.png);
  background-position: 0px -160px;
  width: 32px;
  height: 32px;
}
.flag-andorra {
  background-image: url(flags32.png);
  background-position: 0px -192px;
  width: 32px;
  height: 32px;
}
.flag-angola {
  background-image: url(flags32.png);
  background-position: 0px -224px;
  width: 32px;
  height: 32px;
}
.flag-anguilla {
  background-image: url(flags32.png);
  background-position: 0px -256px;
  width: 32px;
  height: 32px;
}
.flag-antarctica {
  background-image: url(flags32.png);
  background-position: 0px -288px;
  width: 32px;
  height: 32px;
}
.flag-antigua_and_barbuda {
  background-image: url(flags32.png);
  background-position: 0px -320px;
  width: 32px;
  height: 32px;
}
.flag-argentina {
  background-image: url(flags32.png);
  background-position: 0px -352px;
  width: 32px;
  height: 32px;
}
.flag-armenia {
  background-image: url(flags32.png);
  background-position: 0px -384px;
  width: 32px;
  height: 32px;
}
.flag-aruba {
  background-image: url(flags32.png);
  background-position: 0px -416px;
  width: 32px;
  height: 32px;
}
.flag-australia {
  background-image: url(flags32.png);
  background-position: 0px -448px;
  width: 32px;
  height: 32px;
}
.flag-austria {
  background-image: url(flags32.png);
  background-position: 0px -480px;
  width: 32px;
  height: 32px;
}
.flag-azerbaijan {
  background-image: url(flags32.png);
  background-position: 0px -512px;
  width: 32px;
  height: 32px;
}
.flag-bahamas {
  background-image: url(flags32.png);
  background-position: 0px -544px;
  width: 32px;
  height: 32px;
}
.flag-bahrain {
  background-image: url(flags32.png);
  background-position: 0px -576px;
  width: 32px;
  height: 32px;
}
.flag-bangladesh {
  background-image: url(flags32.png);
  background-position: 0px -608px;
  width: 32px;
  height: 32px;
}
.flag-barbados {
  background-image: url(flags32.png);
  background-position: 0px -640px;
  width: 32px;
  height: 32px;
}
.flag-basque_country {
  background-image: url(flags32.png);
  background-position: 0px -672px;
  width: 32px;
  height: 32px;
}
.flag-belarus {
  background-image: url(flags32.png);
  background-position: 0px -704px;
  width: 32px;
  height: 32px;
}
.flag-belgium {
  background-image: url(flags32.png);
  background-position: 0px -736px;
  width: 32px;
  height: 32px;
}
.flag-belize {
  background-image: url(flags32.png);
  background-position: 0px -768px;
  width: 32px;
  height: 32px;
}
.flag-benin {
  background-image: url(flags32.png);
  background-position: 0px -800px;
  width: 32px;
  height: 32px;
}
.flag-bermuda {
  background-image: url(flags32.png);
  background-position: 0px -832px;
  width: 32px;
  height: 32px;
}
.flag-bhutan {
  background-image: url(flags32.png);
  background-position: 0px -864px;
  width: 32px;
  height: 32px;
}
.flag-bolivia {
  background-image: url(flags32.png);
  background-position: 0px -896px;
  width: 32px;
  height: 32px;
}
.flag-bosnia_and_herzegovina {
  background-image: url(flags32.png);
  background-position: 0px -928px;
  width: 32px;
  height: 32px;
}
.flag-botswana {
  background-image: url(flags32.png);
  background-position: 0px -960px;
  width: 32px;
  height: 32px;
}
.flag-brazil {
  background-image: url(flags32.png);
  background-position: 0px -992px;
  width: 32px;
  height: 32px;
}
.flag-british_antarctic_territory {
  background-image: url(flags32.png);
  background-position: 0px -1024px;
  width: 32px;
  height: 32px;
}
.flag-british_virgin_islands {
  background-image: url(flags32.png);
  background-position: 0px -1056px;
  width: 32px;
  height: 32px;
}
.flag-brunei {
  background-image: url(flags32.png);
  background-position: 0px -1088px;
  width: 32px;
  height: 32px;
}
.flag-bulgaria {
  background-image: url(flags32.png);
  background-position: 0px -1120px;
  width: 32px;
  height: 32px;
}
.flag-burkina_faso {
  background-image: url(flags32.png);
  background-position: 0px -1152px;
  width: 32px;
  height: 32px;
}
.flag-burundi {
  background-image: url(flags32.png);
  background-position: 0px -1184px;
  width: 32px;
  height: 32px;
}
.flag-cambodia {
  background-image: url(flags32.png);
  background-position: 0px -1216px;
  width: 32px;
  height: 32px;
}
.flag-cameroon {
  background-image: url(flags32.png);
  background-position: 0px -1248px;
  width: 32px;
  height: 32px;
}
.flag-canada {
  background-image: url(flags32.png);
  background-position: 0px -1280px;
  width: 32px;
  height: 32px;
}
.flag-canary_islands {
  background-image: url(flags32.png);
  background-position: 0px -1312px;
  width: 32px;
  height: 32px;
}
.flag-cape_verde {
  background-image: url(flags32.png);
  background-position: 0px -1344px;
  width: 32px;
  height: 32px;
}
.flag-cayman_islands {
  background-image: url(flags32.png);
  background-position: 0px -1376px;
  width: 32px;
  height: 32px;
}
.flag-central_african_republic {
  background-image: url(flags32.png);
  background-position: 0px -1408px;
  width: 32px;
  height: 32px;
}
.flag-chad {
  background-image: url(flags32.png);
  background-position: 0px -1440px;
  width: 32px;
  height: 32px;
}
.flag-chile {
  background-image: url(flags32.png);
  background-position: 0px -1472px;
  width: 32px;
  height: 32px;
}
.flag-china {
  background-image: url(flags32.png);
  background-position: 0px -1504px;
  width: 32px;
  height: 32px;
}
.flag-christmas_island {
  background-image: url(flags32.png);
  background-position: 0px -1536px;
  width: 32px;
  height: 32px;
}
.flag-cocos_keeling_islands {
  background-image: url(flags32.png);
  background-position: 0px -1568px;
  width: 32px;
  height: 32px;
}
.flag-colombia {
  background-image: url(flags32.png);
  background-position: 0px -1600px;
  width: 32px;
  height: 32px;
}
.flag-commonwealth {
  background-image: url(flags32.png);
  background-position: 0px -1632px;
  width: 32px;
  height: 32px;
}
.flag-comoros {
  background-image: url(flags32.png);
  background-position: 0px -1664px;
  width: 32px;
  height: 32px;
}
.flag-cook_islands {
  background-image: url(flags32.png);
  background-position: 0px -1696px;
  width: 32px;
  height: 32px;
}
.flag-costa_rica {
  background-image: url(flags32.png);
  background-position: 0px -1728px;
  width: 32px;
  height: 32px;
}
.flag-cote_divoire {
  background-image: url(flags32.png);
  background-position: 0px -1760px;
  width: 32px;
  height: 32px;
}
.flag-croatia {
  background-image: url(flags32.png);
  background-position: 0px -1792px;
  width: 32px;
  height: 32px;
}
.flag-cuba {
  background-image: url(flags32.png);
  background-position: 0px -1824px;
  width: 32px;
  height: 32px;
}
.flag-curacao {
  background-image: url(flags32.png);
  background-position: 0px -1856px;
  width: 32px;
  height: 32px;
}
.flag-cyprus {
  background-image: url(flags32.png);
  background-position: 0px -1888px;
  width: 32px;
  height: 32px;
}
.flag-czech_republic {
  background-image: url(flags32.png);
  background-position: 0px -1920px;
  width: 32px;
  height: 32px;
}
.flag-democratic_republic_of_the_congo {
  background-image: url(flags32.png);
  background-position: 0px -1952px;
  width: 32px;
  height: 32px;
}
.flag-denmark {
  background-image: url(flags32.png);
  background-position: 0px -1984px;
  width: 32px;
  height: 32px;
}
.flag-djibouti {
  background-image: url(flags32.png);
  background-position: 0px -2016px;
  width: 32px;
  height: 32px;
}
.flag-dominica {
  background-image: url(flags32.png);
  background-position: 0px -2048px;
  width: 32px;
  height: 32px;
}
.flag-dominican_republic {
  background-image: url(flags32.png);
  background-position: 0px -2080px;
  width: 32px;
  height: 32px;
}
.flag-east_timor {
  background-image: url(flags32.png);
  background-position: 0px -2112px;
  width: 32px;
  height: 32px;
}
.flag-ecuador {
  background-image: url(flags32.png);
  background-position: 0px -2144px;
  width: 32px;
  height: 32px;
}
.flag-egypt {
  background-image: url(flags32.png);
  background-position: 0px -2176px;
  width: 32px;
  height: 32px;
}
.flag-el_salvador {
  background-image: url(flags32.png);
  background-position: 0px -2208px;
  width: 32px;
  height: 32px;
}
.flag-england {
  background-image: url(flags32.png);
  background-position: 0px -2240px;
  width: 32px;
  height: 32px;
}
.flag-equatorial_guinea {
  background-image: url(flags32.png);
  background-position: 0px -2272px;
  width: 32px;
  height: 32px;
}
.flag-eritrea {
  background-image: url(flags32.png);
  background-position: 0px -2304px;
  width: 32px;
  height: 32px;
}
.flag-estonia {
  background-image: url(flags32.png);
  background-position: 0px -2336px;
  width: 32px;
  height: 32px;
}
.flag-ethiopia {
  background-image: url(flags32.png);
  background-position: 0px -2368px;
  width: 32px;
  height: 32px;
}
.flag-european_union {
  background-image: url(flags32.png);
  background-position: 0px -2400px;
  width: 32px;
  height: 32px;
}
.flag-falkland_islands {
  background-image: url(flags32.png);
  background-position: 0px -2432px;
  width: 32px;
  height: 32px;
}
.flag-faroes {
  background-image: url(flags32.png);
  background-position: 0px -2464px;
  width: 32px;
  height: 32px;
}
.flag-fiji {
  background-image: url(flags32.png);
  background-position: 0px -2496px;
  width: 32px;
  height: 32px;
}
.flag-finland {
  background-image: url(flags32.png);
  background-position: 0px -2528px;
  width: 32px;
  height: 32px;
}
.flag-france {
  background-image: url(flags32.png);
  background-position: 0px -2560px;
  width: 32px;
  height: 32px;
}
.flag-french_polynesia {
  background-image: url(flags32.png);
  background-position: 0px -2592px;
  width: 32px;
  height: 32px;
}
.flag-french_southern_territories {
  background-image: url(flags32.png);
  background-position: 0px -2624px;
  width: 32px;
  height: 32px;
}
.flag-gabon {
  background-image: url(flags32.png);
  background-position: 0px -2656px;
  width: 32px;
  height: 32px;
}
.flag-gambia {
  background-image: url(flags32.png);
  background-position: 0px -2688px;
  width: 32px;
  height: 32px;
}
.flag-georgia {
  background-image: url(flags32.png);
  background-position: 0px -2720px;
  width: 32px;
  height: 32px;
}
.flag-germany {
  background-image: url(flags32.png);
  background-position: 0px -2752px;
  width: 32px;
  height: 32px;
}
.flag-ghana {
  background-image: url(flags32.png);
  background-position: 0px -2784px;
  width: 32px;
  height: 32px;
}
.flag-gibraltar {
  background-image: url(flags32.png);
  background-position: 0px -2816px;
  width: 32px;
  height: 32px;
}
.flag-gosquared {
  background-image: url(flags32.png);
  background-position: 0px -2848px;
  width: 32px;
  height: 32px;
}
.flag-greece {
  background-image: url(flags32.png);
  background-position: 0px -2880px;
  width: 32px;
  height: 32px;
}
.flag-greenland {
  background-image: url(flags32.png);
  background-position: 0px -2912px;
  width: 32px;
  height: 32px;
}
.flag-grenada {
  background-image: url(flags32.png);
  background-position: 0px -2944px;
  width: 32px;
  height: 32px;
}
.flag-guam {
  background-image: url(flags32.png);
  background-position: 0px -2976px;
  width: 32px;
  height: 32px;
}
.flag-guatemala {
  background-image: url(flags32.png);
  background-position: 0px -3008px;
  width: 32px;
  height: 32px;
}
.flag-guernsey {
  background-image: url(flags32.png);
  background-position: 0px -3040px;
  width: 32px;
  height: 32px;
}
.flag-guinea {
  background-image: url(flags32.png);
  background-position: 0px -3072px;
  width: 32px;
  height: 32px;
}
.flag-guinea_bissau {
  background-image: url(flags32.png);
  background-position: 0px -3104px;
  width: 32px;
  height: 32px;
}
.flag-guyana {
  background-image: url(flags32.png);
  background-position: 0px -3136px;
  width: 32px;
  height: 32px;
}
.flag-haiti {
  background-image: url(flags32.png);
  background-position: 0px -3168px;
  width: 32px;
  height: 32px;
}
.flag-honduras {
  background-image: url(flags32.png);
  background-position: 0px -3200px;
  width: 32px;
  height: 32px;
}
.flag-hong_kong {
  background-image: url(flags32.png);
  background-position: 0px -3232px;
  width: 32px;
  height: 32px;
}
.flag-hungary {
  background-image: url(flags32.png);
  background-position: 0px -3264px;
  width: 32px;
  height: 32px;
}
.flag-iceland {
  background-image: url(flags32.png);
  background-position: 0px -3296px;
  width: 32px;
  height: 32px;
}
.flag-india {
  background-image: url(flags32.png);
  background-position: 0px -3328px;
  width: 32px;
  height: 32px;
}
.flag-indonesia {
  background-image: url(flags32.png);
  background-position: 0px -3360px;
  width: 32px;
  height: 32px;
}
.flag-iran {
  background-image: url(flags32.png);
  background-position: 0px -3392px;
  width: 32px;
  height: 32px;
}
.flag-iraq {
  background-image: url(flags32.png);
  background-position: 0px -3424px;
  width: 32px;
  height: 32px;
}
.flag-ireland {
  background-image: url(flags32.png);
  background-position: 0px -3456px;
  width: 32px;
  height: 32px;
}
.flag-isle_of_man {
  background-image: url(flags32.png);
  background-position: 0px -3488px;
  width: 32px;
  height: 32px;
}
.flag-israel {
  background-image: url(flags32.png);
  background-position: 0px -3520px;
  width: 32px;
  height: 32px;
}
.flag-italy {
  background-image: url(flags32.png);
  background-position: 0px -3552px;
  width: 32px;
  height: 32px;
}
.flag-jamaica {
  background-image: url(flags32.png);
  background-position: 0px -3584px;
  width: 32px;
  height: 32px;
}
.flag-japan {
  background-image: url(flags32.png);
  background-position: 0px -3616px;
  width: 32px;
  height: 32px;
}
.flag-jersey {
  background-image: url(flags32.png);
  background-position: 0px -3648px;
  width: 32px;
  height: 32px;
}
.flag-jordan {
  background-image: url(flags32.png);
  background-position: 0px -3680px;
  width: 32px;
  height: 32px;
}
.flag-kazakhstan {
  background-image: url(flags32.png);
  background-position: 0px -3712px;
  width: 32px;
  height: 32px;
}
.flag-kenya {
  background-image: url(flags32.png);
  background-position: 0px -3744px;
  width: 32px;
  height: 32px;
}
.flag-kiribati {
  background-image: url(flags32.png);
  background-position: 0px -3776px;
  width: 32px;
  height: 32px;
}
.flag-kosovo {
  background-image: url(flags32.png);
  background-position: 0px -3808px;
  width: 32px;
  height: 32px;
}
.flag-kuwait {
  background-image: url(flags32.png);
  background-position: 0px -3840px;
  width: 32px;
  height: 32px;
}
.flag-kyrgyzstan {
  background-image: url(flags32.png);
  background-position: 0px -3872px;
  width: 32px;
  height: 32px;
}
.flag-laos {
  background-image: url(flags32.png);
  background-position: 0px -3904px;
  width: 32px;
  height: 32px;
}
.flag-latvia {
  background-image: url(flags32.png);
  background-position: 0px -3936px;
  width: 32px;
  height: 32px;
}
.flag-lebanon {
  background-image: url(flags32.png);
  background-position: 0px -3968px;
  width: 32px;
  height: 32px;
}
.flag-lesotho {
  background-image: url(flags32.png);
  background-position: 0px -4000px;
  width: 32px;
  height: 32px;
}
.flag-liberia {
  background-image: url(flags32.png);
  background-position: 0px -4032px;
  width: 32px;
  height: 32px;
}
.flag-libya {
  background-image: url(flags32.png);
  background-position: 0px -4064px;
  width: 32px;
  height: 32px;
}
.flag-liechtenstein {
  background-image: url(flags32.png);
  background-position: 0px -4096px;
  width: 32px;
  height: 32px;
}
.flag-lithuania {
  background-image: url(flags32.png);
  background-position: 0px -4128px;
  width: 32px;
  height: 32px;
}
.flag-luxembourg {
  background-image: url(flags32.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.flag-macau {
  background-image: url(flags32.png);
  background-position: 0px -4192px;
  width: 32px;
  height: 32px;
}
.flag-macedonia {
  background-image: url(flags32.png);
  background-position: 0px -4224px;
  width: 32px;
  height: 32px;
}
.flag-madagascar {
  background-image: url(flags32.png);
  background-position: 0px -4256px;
  width: 32px;
  height: 32px;
}
.flag-malawi {
  background-image: url(flags32.png);
  background-position: 0px -4288px;
  width: 32px;
  height: 32px;
}
.flag-malaysia {
  background-image: url(flags32.png);
  background-position: 0px -4320px;
  width: 32px;
  height: 32px;
}
.flag-maldives {
  background-image: url(flags32.png);
  background-position: 0px -4352px;
  width: 32px;
  height: 32px;
}
.flag-mali {
  background-image: url(flags32.png);
  background-position: 0px -4384px;
  width: 32px;
  height: 32px;
}
.flag-malta {
  background-image: url(flags32.png);
  background-position: 0px -4416px;
  width: 32px;
  height: 32px;
}
.flag-mars {
  background-image: url(flags32.png);
  background-position: 0px -4448px;
  width: 32px;
  height: 32px;
}
.flag-marshall_islands {
  background-image: url(flags32.png);
  background-position: 0px -4480px;
  width: 32px;
  height: 32px;
}
.flag-martinique {
  background-image: url(flags32.png);
  background-position: 0px -4512px;
  width: 32px;
  height: 32px;
}
.flag-mauritania {
  background-image: url(flags32.png);
  background-position: 0px -4544px;
  width: 32px;
  height: 32px;
}
.flag-mauritius {
  background-image: url(flags32.png);
  background-position: 0px -4576px;
  width: 32px;
  height: 32px;
}
.flag-mayotte {
  background-image: url(flags32.png);
  background-position: 0px -4608px;
  width: 32px;
  height: 32px;
}
.flag-mexico {
  background-image: url(flags32.png);
  background-position: 0px -4640px;
  width: 32px;
  height: 32px;
}
.flag-micronesia {
  background-image: url(flags32.png);
  background-position: 0px -4672px;
  width: 32px;
  height: 32px;
}
.flag-moldova {
  background-image: url(flags32.png);
  background-position: 0px -4704px;
  width: 32px;
  height: 32px;
}
.flag-monaco {
  background-image: url(flags32.png);
  background-position: 0px -4736px;
  width: 32px;
  height: 32px;
}
.flag-mongolia {
  background-image: url(flags32.png);
  background-position: 0px -4768px;
  width: 32px;
  height: 32px;
}
.flag-montenegro {
  background-image: url(flags32.png);
  background-position: 0px -4800px;
  width: 32px;
  height: 32px;
}
.flag-montserrat {
  background-image: url(flags32.png);
  background-position: 0px -4832px;
  width: 32px;
  height: 32px;
}
.flag-morocco {
  background-image: url(flags32.png);
  background-position: 0px -4864px;
  width: 32px;
  height: 32px;
}
.flag-mozambique {
  background-image: url(flags32.png);
  background-position: 0px -4896px;
  width: 32px;
  height: 32px;
}
.flag-myanmar {
  background-image: url(flags32.png);
  background-position: 0px -4928px;
  width: 32px;
  height: 32px;
}
.flag-nagorno_karabakh {
  background-image: url(flags32.png);
  background-position: 0px -4960px;
  width: 32px;
  height: 32px;
}
.flag-namibia {
  background-image: url(flags32.png);
  background-position: 0px -4992px;
  width: 32px;
  height: 32px;
}
.flag-nato {
  background-image: url(flags32.png);
  background-position: 0px -5024px;
  width: 32px;
  height: 32px;
}
.flag-nauru {
  background-image: url(flags32.png);
  background-position: 0px -5056px;
  width: 32px;
  height: 32px;
}
.flag-nepal {
  background-image: url(flags32.png);
  background-position: 0px -5088px;
  width: 32px;
  height: 32px;
}
.flag-netherlands {
  background-image: url(flags32.png);
  background-position: 0px -5120px;
  width: 32px;
  height: 32px;
}
.flag-netherlands_antilles {
  background-image: url(flags32.png);
  background-position: 0px -5152px;
  width: 32px;
  height: 32px;
}
.flag-new_caledonia {
  background-image: url(flags32.png);
  background-position: 0px -5184px;
  width: 32px;
  height: 32px;
}
.flag-new_zealand {
  background-image: url(flags32.png);
  background-position: 0px -5216px;
  width: 32px;
  height: 32px;
}
.flag-nicaragua {
  background-image: url(flags32.png);
  background-position: 0px -5248px;
  width: 32px;
  height: 32px;
}
.flag-niger {
  background-image: url(flags32.png);
  background-position: 0px -5280px;
  width: 32px;
  height: 32px;
}
.flag-nigeria {
  background-image: url(flags32.png);
  background-position: 0px -5312px;
  width: 32px;
  height: 32px;
}
.flag-niue {
  background-image: url(flags32.png);
  background-position: 0px -5344px;
  width: 32px;
  height: 32px;
}
.flag-norfolk_island {
  background-image: url(flags32.png);
  background-position: 0px -5376px;
  width: 32px;
  height: 32px;
}
.flag-north_korea {
  background-image: url(flags32.png);
  background-position: 0px -5408px;
  width: 32px;
  height: 32px;
}
.flag-northern_cyprus {
  background-image: url(flags32.png);
  background-position: 0px -5440px;
  width: 32px;
  height: 32px;
}
.flag-northern_mariana_islands {
  background-image: url(flags32.png);
  background-position: 0px -5472px;
  width: 32px;
  height: 32px;
}
.flag-norway {
  background-image: url(flags32.png);
  background-position: 0px -5504px;
  width: 32px;
  height: 32px;
}
.flag-olympics {
  background-image: url(flags32.png);
  background-position: 0px -5536px;
  width: 32px;
  height: 32px;
}
.flag-oman {
  background-image: url(flags32.png);
  background-position: 0px -5568px;
  width: 32px;
  height: 32px;
}
.flag-pakistan {
  background-image: url(flags32.png);
  background-position: 0px -5600px;
  width: 32px;
  height: 32px;
}
.flag-palau {
  background-image: url(flags32.png);
  background-position: 0px -5632px;
  width: 32px;
  height: 32px;
}
.flag-palestine {
  background-image: url(flags32.png);
  background-position: 0px -5664px;
  width: 32px;
  height: 32px;
}
.flag-panama {
  background-image: url(flags32.png);
  background-position: 0px -5696px;
  width: 32px;
  height: 32px;
}
.flag-papua_new_guinea {
  background-image: url(flags32.png);
  background-position: 0px -5728px;
  width: 32px;
  height: 32px;
}
.flag-paraguay {
  background-image: url(flags32.png);
  background-position: 0px -5760px;
  width: 32px;
  height: 32px;
}
.flag-peru {
  background-image: url(flags32.png);
  background-position: 0px -5792px;
  width: 32px;
  height: 32px;
}
.flag-philippines {
  background-image: url(flags32.png);
  background-position: 0px -5824px;
  width: 32px;
  height: 32px;
}
.flag-pitcairn_islands {
  background-image: url(flags32.png);
  background-position: 0px -5856px;
  width: 32px;
  height: 32px;
}
.flag-poland {
  background-image: url(flags32.png);
  background-position: 0px -5888px;
  width: 32px;
  height: 32px;
}
.flag-portugal {
  background-image: url(flags32.png);
  background-position: 0px -5920px;
  width: 32px;
  height: 32px;
}
.flag-puerto_rico {
  background-image: url(flags32.png);
  background-position: 0px -5952px;
  width: 32px;
  height: 32px;
}
.flag-qatar {
  background-image: url(flags32.png);
  background-position: 0px -5984px;
  width: 32px;
  height: 32px;
}
.flag-red_cross {
  background-image: url(flags32.png);
  background-position: 0px -6016px;
  width: 32px;
  height: 32px;
}
.flag-republic_of_the_congo {
  background-image: url(flags32.png);
  background-position: 0px -6048px;
  width: 32px;
  height: 32px;
}
.flag-romania {
  background-image: url(flags32.png);
  background-position: 0px -6080px;
  width: 32px;
  height: 32px;
}
.flag-russia {
  background-image: url(flags32.png);
  background-position: 0px -6112px;
  width: 32px;
  height: 32px;
}
.flag-rwanda {
  background-image: url(flags32.png);
  background-position: 0px -6144px;
  width: 32px;
  height: 32px;
}
.flag-saint_barthelemy {
  background-image: url(flags32.png);
  background-position: 0px -6176px;
  width: 32px;
  height: 32px;
}
.flag-saint_helena {
  background-image: url(flags32.png);
  background-position: 0px -6208px;
  width: 32px;
  height: 32px;
}
.flag-saint_kitts_and_nevis {
  background-image: url(flags32.png);
  background-position: 0px -6240px;
  width: 32px;
  height: 32px;
}
.flag-saint_lucia {
  background-image: url(flags32.png);
  background-position: 0px -6272px;
  width: 32px;
  height: 32px;
}
.flag-saint_martin {
  background-image: url(flags32.png);
  background-position: 0px -6304px;
  width: 32px;
  height: 32px;
}
.flag-saint_vincent_and_the_grenadines {
  background-image: url(flags32.png);
  background-position: 0px -6336px;
  width: 32px;
  height: 32px;
}
.flag-samoa {
  background-image: url(flags32.png);
  background-position: 0px -6368px;
  width: 32px;
  height: 32px;
}
.flag-san_marino {
  background-image: url(flags32.png);
  background-position: 0px -6400px;
  width: 32px;
  height: 32px;
}
.flag-sao_tome_and_principe {
  background-image: url(flags32.png);
  background-position: 0px -6432px;
  width: 32px;
  height: 32px;
}
.flag-saudi_arabia {
  background-image: url(flags32.png);
  background-position: 0px -6464px;
  width: 32px;
  height: 32px;
}
.flag-scotland {
  background-image: url(flags32.png);
  background-position: 0px -6496px;
  width: 32px;
  height: 32px;
}
.flag-senegal {
  background-image: url(flags32.png);
  background-position: 0px -6528px;
  width: 32px;
  height: 32px;
}
.flag-serbia {
  background-image: url(flags32.png);
  background-position: 0px -6560px;
  width: 32px;
  height: 32px;
}
.flag-seychelles {
  background-image: url(flags32.png);
  background-position: 0px -6592px;
  width: 32px;
  height: 32px;
}
.flag-sierra_leone {
  background-image: url(flags32.png);
  background-position: 0px -6624px;
  width: 32px;
  height: 32px;
}
.flag-singapore {
  background-image: url(flags32.png);
  background-position: 0px -6656px;
  width: 32px;
  height: 32px;
}
.flag-slovakia {
  background-image: url(flags32.png);
  background-position: 0px -6688px;
  width: 32px;
  height: 32px;
}
.flag-slovenia {
  background-image: url(flags32.png);
  background-position: 0px -6720px;
  width: 32px;
  height: 32px;
}
.flag-solomon_islands {
  background-image: url(flags32.png);
  background-position: 0px -6752px;
  width: 32px;
  height: 32px;
}
.flag-somalia {
  background-image: url(flags32.png);
  background-position: 0px -6784px;
  width: 32px;
  height: 32px;
}
.flag-somaliland {
  background-image: url(flags32.png);
  background-position: 0px -6816px;
  width: 32px;
  height: 32px;
}
.flag-south_africa {
  background-image: url(flags32.png);
  background-position: 0px -6848px;
  width: 32px;
  height: 32px;
}
.flag-south_georgia_and_the_south_sandwich_islands {
  background-image: url(flags32.png);
  background-position: 0px -6880px;
  width: 32px;
  height: 32px;
}
.flag-south_korea {
  background-image: url(flags32.png);
  background-position: 0px -6912px;
  width: 32px;
  height: 32px;
}
.flag-south_ossetia {
  background-image: url(flags32.png);
  background-position: 0px -6944px;
  width: 32px;
  height: 32px;
}
.flag-south_sudan {
  background-image: url(flags32.png);
  background-position: 0px -6976px;
  width: 32px;
  height: 32px;
}
.flag-spain {
  background-image: url(flags32.png);
  background-position: 0px -7008px;
  width: 32px;
  height: 32px;
}
.flag-sri_lanka {
  background-image: url(flags32.png);
  background-position: 0px -7040px;
  width: 32px;
  height: 32px;
}
.flag-sudan {
  background-image: url(flags32.png);
  background-position: 0px -7072px;
  width: 32px;
  height: 32px;
}
.flag-suriname {
  background-image: url(flags32.png);
  background-position: 0px -7104px;
  width: 32px;
  height: 32px;
}
.flag-swaziland {
  background-image: url(flags32.png);
  background-position: 0px -7136px;
  width: 32px;
  height: 32px;
}
.flag-sweden {
  background-image: url(flags32.png);
  background-position: 0px -7168px;
  width: 32px;
  height: 32px;
}
.flag-switzerland {
  background-image: url(flags32.png);
  background-position: 0px -7200px;
  width: 32px;
  height: 32px;
}
.flag-syria {
  background-image: url(flags32.png);
  background-position: 0px -7232px;
  width: 32px;
  height: 32px;
}
.flag-taiwan {
  background-image: url(flags32.png);
  background-position: 0px -7264px;
  width: 32px;
  height: 32px;
}
.flag-tajikistan {
  background-image: url(flags32.png);
  background-position: 0px -7296px;
  width: 32px;
  height: 32px;
}
.flag-tanzania {
  background-image: url(flags32.png);
  background-position: 0px -7328px;
  width: 32px;
  height: 32px;
}
.flag-thailand {
  background-image: url(flags32.png);
  background-position: 0px -7360px;
  width: 32px;
  height: 32px;
}
.flag-togo {
  background-image: url(flags32.png);
  background-position: 0px -7392px;
  width: 32px;
  height: 32px;
}
.flag-tokelau {
  background-image: url(flags32.png);
  background-position: 0px -7424px;
  width: 32px;
  height: 32px;
}
.flag-tonga {
  background-image: url(flags32.png);
  background-position: 0px -7456px;
  width: 32px;
  height: 32px;
}
.flag-trinidad_and_tobago {
  background-image: url(flags32.png);
  background-position: 0px -7488px;
  width: 32px;
  height: 32px;
}
.flag-tunisia {
  background-image: url(flags32.png);
  background-position: 0px -7520px;
  width: 32px;
  height: 32px;
}
.flag-turkey {
  background-image: url(flags32.png);
  background-position: 0px -7552px;
  width: 32px;
  height: 32px;
}
.flag-turkmenistan {
  background-image: url(flags32.png);
  background-position: 0px -7584px;
  width: 32px;
  height: 32px;
}
.flag-turks_and_caicos_islands {
  background-image: url(flags32.png);
  background-position: 0px -7616px;
  width: 32px;
  height: 32px;
}
.flag-tuvalu {
  background-image: url(flags32.png);
  background-position: 0px -7648px;
  width: 32px;
  height: 32px;
}
.flag-uganda {
  background-image: url(flags32.png);
  background-position: 0px -7680px;
  width: 32px;
  height: 32px;
}
.flag-ukraine {
  background-image: url(flags32.png);
  background-position: 0px -7712px;
  width: 32px;
  height: 32px;
}
.flag-united_arab_emirates {
  background-image: url(flags32.png);
  background-position: 0px -7744px;
  width: 32px;
  height: 32px;
}
.flag-united_kingdom {
  background-image: url(flags32.png);
  background-position: 0px -7776px;
  width: 32px;
  height: 32px;
}
.flag-united_nations {
  background-image: url(flags32.png);
  background-position: 0px -7808px;
  width: 32px;
  height: 32px;
}
.flag-united_states {
  background-image: url(flags32.png);
  background-position: 0px -7840px;
  width: 32px;
  height: 32px;
}
.flag-unknown {
  background-image: url(flags32.png);
  background-position: 0px -7872px;
  width: 32px;
  height: 32px;
}
.flag-uruguay {
  background-image: url(flags32.png);
  background-position: 0px -7904px;
  width: 32px;
  height: 32px;
}
.flag-us_virgin_islands {
  background-image: url(flags32.png);
  background-position: 0px -7936px;
  width: 32px;
  height: 32px;
}
.flag-uzbekistan {
  background-image: url(flags32.png);
  background-position: 0px -7968px;
  width: 32px;
  height: 32px;
}
.flag-vanuatu {
  background-image: url(flags32.png);
  background-position: 0px -8000px;
  width: 32px;
  height: 32px;
}
.flag-vatican_city {
  background-image: url(flags32.png);
  background-position: 0px -8032px;
  width: 32px;
  height: 32px;
}
.flag-venezuela {
  background-image: url(flags32.png);
  background-position: 0px -8064px;
  width: 32px;
  height: 32px;
}
.flag-vietnam {
  background-image: url(flags32.png);
  background-position: 0px -8096px;
  width: 32px;
  height: 32px;
}
.flag-wales {
  background-image: url(flags32.png);
  background-position: 0px -8128px;
  width: 32px;
  height: 32px;
}
.flag-wallis_and_futuna {
  background-image: url(flags32.png);
  background-position: 0px -8160px;
  width: 32px;
  height: 32px;
}
.flag-western_sahara {
  background-image: url(flags32.png);
  background-position: 0px -8192px;
  width: 32px;
  height: 32px;
}
.flag-yemen {
  background-image: url(flags32.png);
  background-position: 0px -8224px;
  width: 32px;
  height: 32px;
}
.flag-zambia {
  background-image: url(flags32.png);
  background-position: 0px -8256px;
  width: 32px;
  height: 32px;
}
.flag-zimbabwe {
  background-image: url(flags32.png);
  background-position: 0px -8288px;
  width: 32px;
  height: 32px;
}
