.flag32-abkhazia {
  background-image: image-url("flags32.png");
  background-position: 0px -32px;
  width: 32px;
  height: 32px;
}
.flag32-afghanistan {
  background-image: image-url("flags32.png");
  background-position: 0px -4160px;
  width: 32px;
  height: 32px;
}
.flag32-aland {
  background-image: image-url("flags32.png");
  background-position: 0px -64px;
  width: 32px;
  height: 32px;
}
.flag32-albania {
  background-image: image-url("flags32.png");
  background-position: 0px -96px;
  width: 32px;
  height: 32px;
}
.flag32-algeria {
  background-image: image-url("flags32.png");
  background-position: 0px -128px;
  width: 32px;
  height: 32px;
}
.flag32-american_samoa {
  background-image: image-url("flags32.png");
  background-position: 0px -160px;
  width: 32px;
  height: 32px;
}
.flag32-andorra {
  background-image: image-url("flags32.png");
  background-position: 0px -192px;
  width: 32px;
  height: 32px;
}
.flag32-angola {
  background-image: image-url("flags32.png");
  background-position: 0px -224px;
  width: 32px;
  height: 32px;
}
.flag32-anguilla {
  background-image: image-url("flags32.png");
  background-position: 0px -256px;
  width: 32px;
  height: 32px;
}
.flag32-antarctica {
  background-image: image-url("flags32.png");
  background-position: 0px -288px;
  width: 32px;
  height: 32px;
}
.flag32-antigua_and_barbuda {
  background-image: image-url("flags32.png");
  background-position: 0px -320px;
  width: 32px;
  height: 32px;
}
.flag32-argentina {
  background-image: image-url("flags32.png");
  background-position: 0px -352px;
  width: 32px;
  height: 32px;
}
.flag32-armenia {
  background-image: image-url("flags32.png");
  background-position: 0px -384px;
  width: 32px;
  height: 32px;
}
.flag32-aruba {
  background-image: image-url("flags32.png");
  background-position: 0px -416px;
  width: 32px;
  height: 32px;
}
.flag32-australia {
  background-image: image-url("flags32.png");
  background-position: 0px -448px;
  width: 32px;
  height: 32px;
}
.flag32-austria {
  background-image: image-url("flags32.png");
  background-position: 0px -480px;
  width: 32px;
  height: 32px;
}
.flag32-azerbaijan {
  background-image: image-url("flags32.png");
  background-position: 0px -512px;
  width: 32px;
  height: 32px;
}
.flag32-bahamas {
  background-image: image-url("flags32.png");
  background-position: 0px -544px;
  width: 32px;
  height: 32px;
}
.flag32-bahrain {
  background-image: image-url("flags32.png");
  background-position: 0px -576px;
  width: 32px;
  height: 32px;
}
.flag32-bangladesh {
  background-image: image-url("flags32.png");
  background-position: 0px -608px;
  width: 32px;
  height: 32px;
}
.flag32-barbados {
  background-image: image-url("flags32.png");
  background-position: 0px -640px;
  width: 32px;
  height: 32px;
}
.flag32-basque_country {
  background-image: image-url("flags32.png");
  background-position: 0px -672px;
  width: 32px;
  height: 32px;
}
.flag32-belarus {
  background-image: image-url("flags32.png");
  background-position: 0px -704px;
  width: 32px;
  height: 32px;
}
.flag32-belgium {
  background-image: image-url("flags32.png");
  background-position: 0px -736px;
  width: 32px;
  height: 32px;
}
.flag32-belize {
  background-image: image-url("flags32.png");
  background-position: 0px -768px;
  width: 32px;
  height: 32px;
}
.flag32-benin {
  background-image: image-url("flags32.png");
  background-position: 0px -800px;
  width: 32px;
  height: 32px;
}
.flag32-bermuda {
  background-image: image-url("flags32.png");
  background-position: 0px -832px;
  width: 32px;
  height: 32px;
}
.flag32-bhutan {
  background-image: image-url("flags32.png");
  background-position: 0px -864px;
  width: 32px;
  height: 32px;
}
.flag32-bolivia {
  background-image: image-url("flags32.png");
  background-position: 0px -896px;
  width: 32px;
  height: 32px;
}
.flag32-bosnia_and_herzegovina {
  background-image: image-url("flags32.png");
  background-position: 0px -928px;
  width: 32px;
  height: 32px;
}
.flag32-botswana {
  background-image: image-url("flags32.png");
  background-position: 0px -960px;
  width: 32px;
  height: 32px;
}
.flag32-brazil {
  background-image: image-url("flags32.png");
  background-position: 0px -992px;
  width: 32px;
  height: 32px;
}
.flag32-british_antarctic_territory {
  background-image: image-url("flags32.png");
  background-position: 0px -1024px;
  width: 32px;
  height: 32px;
}
.flag32-british_virgin_islands {
  background-image: image-url("flags32.png");
  background-position: 0px -1056px;
  width: 32px;
  height: 32px;
}
.flag32-brunei {
  background-image: image-url("flags32.png");
  background-position: 0px -1088px;
  width: 32px;
  height: 32px;
}
.flag32-bulgaria {
  background-image: image-url("flags32.png");
  background-position: 0px -1120px;
  width: 32px;
  height: 32px;
}
.flag32-burkina_faso {
  background-image: image-url("flags32.png");
  background-position: 0px -1152px;
  width: 32px;
  height: 32px;
}
.flag32-burundi {
  background-image: image-url("flags32.png");
  background-position: 0px -1184px;
  width: 32px;
  height: 32px;
}
.flag32-cambodia {
  background-image: image-url("flags32.png");
  background-position: 0px -1216px;
  width: 32px;
  height: 32px;
}
.flag32-cameroon {
  background-image: image-url("flags32.png");
  background-position: 0px -1248px;
  width: 32px;
  height: 32px;
}
.flag32-canada {
  background-image: image-url("flags32.png");
  background-position: 0px -1280px;
  width: 32px;
  height: 32px;
}
.flag32-canary_islands {
  background-image: image-url("flags32.png");
  background-position: 0px -1312px;
  width: 32px;
  height: 32px;
}
.flag32-cape_verde {
  background-image: image-url("flags32.png");
  background-position: 0px -1344px;
  width: 32px;
  height: 32px;
}
.flag32-cayman_islands {
  background-image: image-url("flags32.png");
  background-position: 0px -1376px;
  width: 32px;
  height: 32px;
}
.flag32-central_african_republic {
  background-image: image-url("flags32.png");
  background-position: 0px -1408px;
  width: 32px;
  height: 32px;
}
.flag32-chad {
  background-image: image-url("flags32.png");
  background-position: 0px -1440px;
  width: 32px;
  height: 32px;
}
.flag32-chile {
  background-image: image-url("flags32.png");
  background-position: 0px -1472px;
  width: 32px;
  height: 32px;
}
.flag32-china {
  background-image: image-url("flags32.png");
  background-position: 0px -1504px;
  width: 32px;
  height: 32px;
}
.flag32-christmas_island {
  background-image: image-url("flags32.png");
  background-position: 0px -1536px;
  width: 32px;
  height: 32px;
}
.flag32-cocos_keeling_islands {
  background-image: image-url("flags32.png");
  background-position: 0px -1568px;
  width: 32px;
  height: 32px;
}
.flag32-colombia {
  background-image: image-url("flags32.png");
  background-position: 0px -1600px;
  width: 32px;
  height: 32px;
}
.flag32-commonwealth {
  background-image: image-url("flags32.png");
  background-position: 0px -1632px;
  width: 32px;
  height: 32px;
}
.flag32-comoros {
  background-image: image-url("flags32.png");
  background-position: 0px -1664px;
  width: 32px;
  height: 32px;
}
.flag32-cook_islands {
  background-image: image-url("flags32.png");
  background-position: 0px -1696px;
  width: 32px;
  height: 32px;
}
.flag32-costa_rica {
  background-image: image-url("flags32.png");
  background-position: 0px -1728px;
  width: 32px;
  height: 32px;
}
.flag32-cote_divoire {
  background-image: image-url("flags32.png");
  background-position: 0px -1760px;
  width: 32px;
  height: 32px;
}
.flag32-croatia {
  background-image: image-url("flags32.png");
  background-position: 0px -1792px;
  width: 32px;
  height: 32px;
}
.flag32-cuba {
  background-image: image-url("flags32.png");
  background-position: 0px -1824px;
  width: 32px;
  height: 32px;
}
.flag32-curacao {
  background-image: image-url("flags32.png");
  background-position: 0px -1856px;
  width: 32px;
  height: 32px;
}
.flag32-cyprus {
  background-image: image-url("flags32.png");
  background-position: 0px -1888px;
  width: 32px;
  height: 32px;
}
.flag32-czech_republic {
  background-image: image-url("flags32.png");
  background-position: 0px -1920px;
  width: 32px;
  height: 32px;
}
.flag32-democratic_republic_of_the_congo {
  background-image: image-url("flags32.png");
  background-position: 0px -1952px;
  width: 32px;
  height: 32px;
}
.flag32-denmark {
  background-image: image-url("flags32.png");
  background-position: 0px -1984px;
  width: 32px;
  height: 32px;
}
.flag32-djibouti {
  background-image: image-url("flags32.png");
  background-position: 0px -2016px;
  width: 32px;
  height: 32px;
}
.flag32-dominica {
  background-image: image-url("flags32.png");
  background-position: 0px -2048px;
  width: 32px;
  height: 32px;
}
.flag32-dominican_republic {
  background-image: image-url("flags32.png");
  background-position: 0px -2080px;
  width: 32px;
  height: 32px;
}
.flag32-east_timor {
  background-image: image-url("flags32.png");
  background-position: 0px -2112px;
  width: 32px;
  height: 32px;
}
.flag32-ecuador {
  background-image: image-url("flags32.png");
  background-position: 0px -2144px;
  width: 32px;
  height: 32px;
}
.flag32-egypt {
  background-image: image-url("flags32.png");
  background-position: 0px -2176px;
  width: 32px;
  height: 32px;
}
.flag32-el_salvador {
  background-image: image-url("flags32.png");
  background-position: 0px -2208px;
  width: 32px;
  height: 32px;
}
.flag32-england {
  background-image: image-url("flags32.png");
  background-position: 0px -2240px;
  width: 32px;
  height: 32px;
}
.flag32-equatorial_guinea {
  background-image: image-url("flags32.png");
  background-position: 0px -2272px;
  width: 32px;
  height: 32px;
}
.flag32-eritrea {
  background-image: image-url("flags32.png");
  background-position: 0px -2304px;
  width: 32px;
  height: 32px;
}
.flag32-estonia {
  background-image: image-url("flags32.png");
  background-position: 0px -2336px;
  width: 32px;
  height: 32px;
}
.flag32-ethiopia {
  background-image: image-url("flags32.png");
  background-position: 0px -2368px;
  width: 32px;
  height: 32px;
}
.flag32-european_union {
  background-image: image-url("flags32.png");
  background-position: 0px -2400px;
  width: 32px;
  height: 32px;
}
.flag32-falkland_islands {
  background-image: image-url("flags32.png");
  background-position: 0px -2432px;
  width: 32px;
  height: 32px;
}
.flag32-faroes {
  background-image: image-url("flags32.png");
  background-position: 0px -2464px;
  width: 32px;
  height: 32px;
}
.flag32-fiji {
  background-image: image-url("flags32.png");
  background-position: 0px -2496px;
  width: 32px;
  height: 32px;
}
.flag32-finland {
  background-image: image-url("flags32.png");
  background-position: 0px -2528px;
  width: 32px;
  height: 32px;
}
.flag32-france {
  background-image: image-url("flags32.png");
  background-position: 0px -2560px;
  width: 32px;
  height: 32px;
}
.flag32-french_polynesia {
  background-image: image-url("flags32.png");
  background-position: 0px -2592px;
  width: 32px;
  height: 32px;
}
.flag32-french_southern_territories {
  background-image: image-url("flags32.png");
  background-position: 0px -2624px;
  width: 32px;
  height: 32px;
}
.flag32-gabon {
  background-image: image-url("flags32.png");
  background-position: 0px -2656px;
  width: 32px;
  height: 32px;
}
.flag32-gambia {
  background-image: image-url("flags32.png");
  background-position: 0px -2688px;
  width: 32px;
  height: 32px;
}
.flag32-georgia {
  background-image: image-url("flags32.png");
  background-position: 0px -2720px;
  width: 32px;
  height: 32px;
}
.flag32-germany {
  background-image: image-url("flags32.png");
  background-position: 0px -2752px;
  width: 32px;
  height: 32px;
}
.flag32-ghana {
  background-image: image-url("flags32.png");
  background-position: 0px -2784px;
  width: 32px;
  height: 32px;
}
.flag32-gibraltar {
  background-image: image-url("flags32.png");
  background-position: 0px -2816px;
  width: 32px;
  height: 32px;
}
.flag32-gosquared {
  background-image: image-url("flags32.png");
  background-position: 0px -2848px;
  width: 32px;
  height: 32px;
}
.flag32-greece {
  background-image: image-url("flags32.png");
  background-position: 0px -2880px;
  width: 32px;
  height: 32px;
}
.flag32-greenland {
  background-image: image-url("flags32.png");
  background-position: 0px -2912px;
  width: 32px;
  height: 32px;
}
.flag32-grenada {
  background-image: image-url("flags32.png");
  background-position: 0px -2944px;
  width: 32px;
  height: 32px;
}
.flag32-guam {
  background-image: image-url("flags32.png");
  background-position: 0px -2976px;
  width: 32px;
  height: 32px;
}
.flag32-guatemala {
  background-image: image-url("flags32.png");
  background-position: 0px -3008px;
  width: 32px;
  height: 32px;
}
.flag32-guernsey {
  background-image: image-url("flags32.png");
  background-position: 0px -3040px;
  width: 32px;
  height: 32px;
}
.flag32-guinea {
  background-image: image-url("flags32.png");
  background-position: 0px -3072px;
  width: 32px;
  height: 32px;
}
.flag32-guinea_bissau {
  background-image: image-url("flags32.png");
  background-position: 0px -3104px;
  width: 32px;
  height: 32px;
}
.flag32-guyana {
  background-image: image-url("flags32.png");
  background-position: 0px -3136px;
  width: 32px;
  height: 32px;
}
.flag32-haiti {
  background-image: image-url("flags32.png");
  background-position: 0px -3168px;
  width: 32px;
  height: 32px;
}
.flag32-honduras {
  background-image: image-url("flags32.png");
  background-position: 0px -3200px;
  width: 32px;
  height: 32px;
}
.flag32-hong_kong {
  background-image: image-url("flags32.png");
  background-position: 0px -3232px;
  width: 32px;
  height: 32px;
}
.flag32-hungary {
  background-image: image-url("flags32.png");
  background-position: 0px -3264px;
  width: 32px;
  height: 32px;
}
.flag32-iceland {
  background-image: image-url("flags32.png");
  background-position: 0px -3296px;
  width: 32px;
  height: 32px;
}
.flag32-india {
  background-image: image-url("flags32.png");
  background-position: 0px -3328px;
  width: 32px;
  height: 32px;
}
.flag32-indonesia {
  background-image: image-url("flags32.png");
  background-position: 0px -3360px;
  width: 32px;
  height: 32px;
}
.flag32-iran {
  background-image: image-url("flags32.png");
  background-position: 0px -3392px;
  width: 32px;
  height: 32px;
}
.flag32-iraq {
  background-image: image-url("flags32.png");
  background-position: 0px -3424px;
  width: 32px;
  height: 32px;
}
.flag32-ireland {
  background-image: image-url("flags32.png");
  background-position: 0px -3456px;
  width: 32px;
  height: 32px;
}
.flag32-isle_of_man {
  background-image: image-url("flags32.png");
  background-position: 0px -3488px;
  width: 32px;
  height: 32px;
}
.flag32-israel {
  background-image: image-url("flags32.png");
  background-position: 0px -3520px;
  width: 32px;
  height: 32px;
}
.flag32-italy {
  background-image: image-url("flags32.png");
  background-position: 0px -3552px;
  width: 32px;
  height: 32px;
}
.flag32-jamaica {
  background-image: image-url("flags32.png");
  background-position: 0px -3584px;
  width: 32px;
  height: 32px;
}
.flag32-japan {
  background-image: image-url("flags32.png");
  background-position: 0px -3616px;
  width: 32px;
  height: 32px;
}
.flag32-jersey {
  background-image: image-url("flags32.png");
  background-position: 0px -3648px;
  width: 32px;
  height: 32px;
}
.flag32-jordan {
  background-image: image-url("flags32.png");
  background-position: 0px -3680px;
  width: 32px;
  height: 32px;
}
.flag32-kazakhstan {
  background-image: image-url("flags32.png");
  background-position: 0px -3712px;
  width: 32px;
  height: 32px;
}
.flag32-kenya {
  background-image: image-url("flags32.png");
  background-position: 0px -3744px;
  width: 32px;
  height: 32px;
}
.flag32-kiribati {
  background-image: image-url("flags32.png");
  background-position: 0px -3776px;
  width: 32px;
  height: 32px;
}
.flag32-kosovo {
  background-image: image-url("flags32.png");
  background-position: 0px -3808px;
  width: 32px;
  height: 32px;
}
.flag32-kuwait {
  background-image: image-url("flags32.png");
  background-position: 0px -3840px;
  width: 32px;
  height: 32px;
}
.flag32-kyrgyzstan {
  background-image: image-url("flags32.png");
  background-position: 0px -3872px;
  width: 32px;
  height: 32px;
}
.flag32-laos {
  background-image: image-url("flags32.png");
  background-position: 0px -3904px;
  width: 32px;
  height: 32px;
}
.flag32-latvia {
  background-image: image-url("flags32.png");
  background-position: 0px -3936px;
  width: 32px;
  height: 32px;
}
.flag32-lebanon {
  background-image: image-url("flags32.png");
  background-position: 0px -3968px;
  width: 32px;
  height: 32px;
}
.flag32-lesotho {
  background-image: image-url("flags32.png");
  background-position: 0px -4000px;
  width: 32px;
  height: 32px;
}
.flag32-liberia {
  background-image: image-url("flags32.png");
  background-position: 0px -4032px;
  width: 32px;
  height: 32px;
}
.flag32-libya {
  background-image: image-url("flags32.png");
  background-position: 0px -4064px;
  width: 32px;
  height: 32px;
}
.flag32-liechtenstein {
  background-image: image-url("flags32.png");
  background-position: 0px -4096px;
  width: 32px;
  height: 32px;
}
.flag32-lithuania {
  background-image: image-url("flags32.png");
  background-position: 0px -4128px;
  width: 32px;
  height: 32px;
}
.flag32-luxembourg {
  background-image: image-url("flags32.png");
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.flag32-macau {
  background-image: image-url("flags32.png");
  background-position: 0px -4192px;
  width: 32px;
  height: 32px;
}
.flag32-macedonia {
  background-image: image-url("flags32.png");
  background-position: 0px -4224px;
  width: 32px;
  height: 32px;
}
.flag32-madagascar {
  background-image: image-url("flags32.png");
  background-position: 0px -4256px;
  width: 32px;
  height: 32px;
}
.flag32-malawi {
  background-image: image-url("flags32.png");
  background-position: 0px -4288px;
  width: 32px;
  height: 32px;
}
.flag32-malaysia {
  background-image: image-url("flags32.png");
  background-position: 0px -4320px;
  width: 32px;
  height: 32px;
}
.flag32-maldives {
  background-image: image-url("flags32.png");
  background-position: 0px -4352px;
  width: 32px;
  height: 32px;
}
.flag32-mali {
  background-image: image-url("flags32.png");
  background-position: 0px -4384px;
  width: 32px;
  height: 32px;
}
.flag32-malta {
  background-image: image-url("flags32.png");
  background-position: 0px -4416px;
  width: 32px;
  height: 32px;
}
.flag32-mars {
  background-image: image-url("flags32.png");
  background-position: 0px -4448px;
  width: 32px;
  height: 32px;
}
.flag32-marshall_islands {
  background-image: image-url("flags32.png");
  background-position: 0px -4480px;
  width: 32px;
  height: 32px;
}
.flag32-martinique {
  background-image: image-url("flags32.png");
  background-position: 0px -4512px;
  width: 32px;
  height: 32px;
}
.flag32-mauritania {
  background-image: image-url("flags32.png");
  background-position: 0px -4544px;
  width: 32px;
  height: 32px;
}
.flag32-mauritius {
  background-image: image-url("flags32.png");
  background-position: 0px -4576px;
  width: 32px;
  height: 32px;
}
.flag32-mayotte {
  background-image: image-url("flags32.png");
  background-position: 0px -4608px;
  width: 32px;
  height: 32px;
}
.flag32-mexico {
  background-image: image-url("flags32.png");
  background-position: 0px -4640px;
  width: 32px;
  height: 32px;
}
.flag32-micronesia {
  background-image: image-url("flags32.png");
  background-position: 0px -4672px;
  width: 32px;
  height: 32px;
}
.flag32-moldova {
  background-image: image-url("flags32.png");
  background-position: 0px -4704px;
  width: 32px;
  height: 32px;
}
.flag32-monaco {
  background-image: image-url("flags32.png");
  background-position: 0px -4736px;
  width: 32px;
  height: 32px;
}
.flag32-mongolia {
  background-image: image-url("flags32.png");
  background-position: 0px -4768px;
  width: 32px;
  height: 32px;
}
.flag32-montenegro {
  background-image: image-url("flags32.png");
  background-position: 0px -4800px;
  width: 32px;
  height: 32px;
}
.flag32-montserrat {
  background-image: image-url("flags32.png");
  background-position: 0px -4832px;
  width: 32px;
  height: 32px;
}
.flag32-morocco {
  background-image: image-url("flags32.png");
  background-position: 0px -4864px;
  width: 32px;
  height: 32px;
}
.flag32-mozambique {
  background-image: image-url("flags32.png");
  background-position: 0px -4896px;
  width: 32px;
  height: 32px;
}
.flag32-myanmar {
  background-image: image-url("flags32.png");
  background-position: 0px -4928px;
  width: 32px;
  height: 32px;
}
.flag32-nagorno_karabakh {
  background-image: image-url("flags32.png");
  background-position: 0px -4960px;
  width: 32px;
  height: 32px;
}
.flag32-namibia {
  background-image: image-url("flags32.png");
  background-position: 0px -4992px;
  width: 32px;
  height: 32px;
}
.flag32-nato {
  background-image: image-url("flags32.png");
  background-position: 0px -5024px;
  width: 32px;
  height: 32px;
}
.flag32-nauru {
  background-image: image-url("flags32.png");
  background-position: 0px -5056px;
  width: 32px;
  height: 32px;
}
.flag32-nepal {
  background-image: image-url("flags32.png");
  background-position: 0px -5088px;
  width: 32px;
  height: 32px;
}
.flag32-netherlands {
  background-image: image-url("flags32.png");
  background-position: 0px -5120px;
  width: 32px;
  height: 32px;
}
.flag32-netherlands_antilles {
  background-image: image-url("flags32.png");
  background-position: 0px -5152px;
  width: 32px;
  height: 32px;
}
.flag32-new_caledonia {
  background-image: image-url("flags32.png");
  background-position: 0px -5184px;
  width: 32px;
  height: 32px;
}
.flag32-new_zealand {
  background-image: image-url("flags32.png");
  background-position: 0px -5216px;
  width: 32px;
  height: 32px;
}
.flag32-nicaragua {
  background-image: image-url("flags32.png");
  background-position: 0px -5248px;
  width: 32px;
  height: 32px;
}
.flag32-niger {
  background-image: image-url("flags32.png");
  background-position: 0px -5280px;
  width: 32px;
  height: 32px;
}
.flag32-nigeria {
  background-image: image-url("flags32.png");
  background-position: 0px -5312px;
  width: 32px;
  height: 32px;
}
.flag32-niue {
  background-image: image-url("flags32.png");
  background-position: 0px -5344px;
  width: 32px;
  height: 32px;
}
.flag32-norfolk_island {
  background-image: image-url("flags32.png");
  background-position: 0px -5376px;
  width: 32px;
  height: 32px;
}
.flag32-north_korea {
  background-image: image-url("flags32.png");
  background-position: 0px -5408px;
  width: 32px;
  height: 32px;
}
.flag32-northern_cyprus {
  background-image: image-url("flags32.png");
  background-position: 0px -5440px;
  width: 32px;
  height: 32px;
}
.flag32-northern_mariana_islands {
  background-image: image-url("flags32.png");
  background-position: 0px -5472px;
  width: 32px;
  height: 32px;
}
.flag32-norway {
  background-image: image-url("flags32.png");
  background-position: 0px -5504px;
  width: 32px;
  height: 32px;
}
.flag32-olympics {
  background-image: image-url("flags32.png");
  background-position: 0px -5536px;
  width: 32px;
  height: 32px;
}
.flag32-oman {
  background-image: image-url("flags32.png");
  background-position: 0px -5568px;
  width: 32px;
  height: 32px;
}
.flag32-pakistan {
  background-image: image-url("flags32.png");
  background-position: 0px -5600px;
  width: 32px;
  height: 32px;
}
.flag32-palau {
  background-image: image-url("flags32.png");
  background-position: 0px -5632px;
  width: 32px;
  height: 32px;
}
.flag32-palestine {
  background-image: image-url("flags32.png");
  background-position: 0px -5664px;
  width: 32px;
  height: 32px;
}
.flag32-panama {
  background-image: image-url("flags32.png");
  background-position: 0px -5696px;
  width: 32px;
  height: 32px;
}
.flag32-papua_new_guinea {
  background-image: image-url("flags32.png");
  background-position: 0px -5728px;
  width: 32px;
  height: 32px;
}
.flag32-paraguay {
  background-image: image-url("flags32.png");
  background-position: 0px -5760px;
  width: 32px;
  height: 32px;
}
.flag32-peru {
  background-image: image-url("flags32.png");
  background-position: 0px -5792px;
  width: 32px;
  height: 32px;
}
.flag32-philippines {
  background-image: image-url("flags32.png");
  background-position: 0px -5824px;
  width: 32px;
  height: 32px;
}
.flag32-pitcairn_islands {
  background-image: image-url("flags32.png");
  background-position: 0px -5856px;
  width: 32px;
  height: 32px;
}
.flag32-poland {
  background-image: image-url("flags32.png");
  background-position: 0px -5888px;
  width: 32px;
  height: 32px;
}
.flag32-portugal {
  background-image: image-url("flags32.png");
  background-position: 0px -5920px;
  width: 32px;
  height: 32px;
}
.flag32-puerto_rico {
  background-image: image-url("flags32.png");
  background-position: 0px -5952px;
  width: 32px;
  height: 32px;
}
.flag32-qatar {
  background-image: image-url("flags32.png");
  background-position: 0px -5984px;
  width: 32px;
  height: 32px;
}
.flag32-red_cross {
  background-image: image-url("flags32.png");
  background-position: 0px -6016px;
  width: 32px;
  height: 32px;
}
.flag32-republic_of_the_congo {
  background-image: image-url("flags32.png");
  background-position: 0px -6048px;
  width: 32px;
  height: 32px;
}
.flag32-romania {
  background-image: image-url("flags32.png");
  background-position: 0px -6080px;
  width: 32px;
  height: 32px;
}
.flag32-russia {
  background-image: image-url("flags32.png");
  background-position: 0px -6112px;
  width: 32px;
  height: 32px;
}
.flag32-rwanda {
  background-image: image-url("flags32.png");
  background-position: 0px -6144px;
  width: 32px;
  height: 32px;
}
.flag32-saint_barthelemy {
  background-image: image-url("flags32.png");
  background-position: 0px -6176px;
  width: 32px;
  height: 32px;
}
.flag32-saint_helena {
  background-image: image-url("flags32.png");
  background-position: 0px -6208px;
  width: 32px;
  height: 32px;
}
.flag32-saint_kitts_and_nevis {
  background-image: image-url("flags32.png");
  background-position: 0px -6240px;
  width: 32px;
  height: 32px;
}
.flag32-saint_lucia {
  background-image: image-url("flags32.png");
  background-position: 0px -6272px;
  width: 32px;
  height: 32px;
}
.flag32-saint_martin {
  background-image: image-url("flags32.png");
  background-position: 0px -6304px;
  width: 32px;
  height: 32px;
}
.flag32-saint_vincent_and_the_grenadines {
  background-image: image-url("flags32.png");
  background-position: 0px -6336px;
  width: 32px;
  height: 32px;
}
.flag32-samoa {
  background-image: image-url("flags32.png");
  background-position: 0px -6368px;
  width: 32px;
  height: 32px;
}
.flag32-san_marino {
  background-image: image-url("flags32.png");
  background-position: 0px -6400px;
  width: 32px;
  height: 32px;
}
.flag32-sao_tome_and_principe {
  background-image: image-url("flags32.png");
  background-position: 0px -6432px;
  width: 32px;
  height: 32px;
}
.flag32-saudi_arabia {
  background-image: image-url("flags32.png");
  background-position: 0px -6464px;
  width: 32px;
  height: 32px;
}
.flag32-scotland {
  background-image: image-url("flags32.png");
  background-position: 0px -6496px;
  width: 32px;
  height: 32px;
}
.flag32-senegal {
  background-image: image-url("flags32.png");
  background-position: 0px -6528px;
  width: 32px;
  height: 32px;
}
.flag32-serbia {
  background-image: image-url("flags32.png");
  background-position: 0px -6560px;
  width: 32px;
  height: 32px;
}
.flag32-seychelles {
  background-image: image-url("flags32.png");
  background-position: 0px -6592px;
  width: 32px;
  height: 32px;
}
.flag32-sierra_leone {
  background-image: image-url("flags32.png");
  background-position: 0px -6624px;
  width: 32px;
  height: 32px;
}
.flag32-singapore {
  background-image: image-url("flags32.png");
  background-position: 0px -6656px;
  width: 32px;
  height: 32px;
}
.flag32-slovakia {
  background-image: image-url("flags32.png");
  background-position: 0px -6688px;
  width: 32px;
  height: 32px;
}
.flag32-slovenia {
  background-image: image-url("flags32.png");
  background-position: 0px -6720px;
  width: 32px;
  height: 32px;
}
.flag32-solomon_islands {
  background-image: image-url("flags32.png");
  background-position: 0px -6752px;
  width: 32px;
  height: 32px;
}
.flag32-somalia {
  background-image: image-url("flags32.png");
  background-position: 0px -6784px;
  width: 32px;
  height: 32px;
}
.flag32-somaliland {
  background-image: image-url("flags32.png");
  background-position: 0px -6816px;
  width: 32px;
  height: 32px;
}
.flag32-south_africa {
  background-image: image-url("flags32.png");
  background-position: 0px -6848px;
  width: 32px;
  height: 32px;
}
.flag32-south_georgia_and_the_south_sandwich_islands {
  background-image: image-url("flags32.png");
  background-position: 0px -6880px;
  width: 32px;
  height: 32px;
}
.flag32-south_korea {
  background-image: image-url("flags32.png");
  background-position: 0px -6912px;
  width: 32px;
  height: 32px;
}
.flag32-south_ossetia {
  background-image: image-url("flags32.png");
  background-position: 0px -6944px;
  width: 32px;
  height: 32px;
}
.flag32-south_sudan {
  background-image: image-url("flags32.png");
  background-position: 0px -6976px;
  width: 32px;
  height: 32px;
}
.flag32-spain {
  background-image: image-url("flags32.png");
  background-position: 0px -7008px;
  width: 32px;
  height: 32px;
}
.flag32-sri_lanka {
  background-image: image-url("flags32.png");
  background-position: 0px -7040px;
  width: 32px;
  height: 32px;
}
.flag32-sudan {
  background-image: image-url("flags32.png");
  background-position: 0px -7072px;
  width: 32px;
  height: 32px;
}
.flag32-suriname {
  background-image: image-url("flags32.png");
  background-position: 0px -7104px;
  width: 32px;
  height: 32px;
}
.flag32-swaziland {
  background-image: image-url("flags32.png");
  background-position: 0px -7136px;
  width: 32px;
  height: 32px;
}
.flag32-sweden {
  background-image: image-url("flags32.png");
  background-position: 0px -7168px;
  width: 32px;
  height: 32px;
}
.flag32-switzerland {
  background-image: image-url("flags32.png");
  background-position: 0px -7200px;
  width: 32px;
  height: 32px;
}
.flag32-syria {
  background-image: image-url("flags32.png");
  background-position: 0px -7232px;
  width: 32px;
  height: 32px;
}
.flag32-taiwan {
  background-image: image-url("flags32.png");
  background-position: 0px -7264px;
  width: 32px;
  height: 32px;
}
.flag32-tajikistan {
  background-image: image-url("flags32.png");
  background-position: 0px -7296px;
  width: 32px;
  height: 32px;
}
.flag32-tanzania {
  background-image: image-url("flags32.png");
  background-position: 0px -7328px;
  width: 32px;
  height: 32px;
}
.flag32-thailand {
  background-image: image-url("flags32.png");
  background-position: 0px -7360px;
  width: 32px;
  height: 32px;
}
.flag32-togo {
  background-image: image-url("flags32.png");
  background-position: 0px -7392px;
  width: 32px;
  height: 32px;
}
.flag32-tokelau {
  background-image: image-url("flags32.png");
  background-position: 0px -7424px;
  width: 32px;
  height: 32px;
}
.flag32-tonga {
  background-image: image-url("flags32.png");
  background-position: 0px -7456px;
  width: 32px;
  height: 32px;
}
.flag32-trinidad_and_tobago {
  background-image: image-url("flags32.png");
  background-position: 0px -7488px;
  width: 32px;
  height: 32px;
}
.flag32-tunisia {
  background-image: image-url("flags32.png");
  background-position: 0px -7520px;
  width: 32px;
  height: 32px;
}
.flag32-turkey {
  background-image: image-url("flags32.png");
  background-position: 0px -7552px;
  width: 32px;
  height: 32px;
}
.flag32-turkmenistan {
  background-image: image-url("flags32.png");
  background-position: 0px -7584px;
  width: 32px;
  height: 32px;
}
.flag32-turks_and_caicos_islands {
  background-image: image-url("flags32.png");
  background-position: 0px -7616px;
  width: 32px;
  height: 32px;
}
.flag32-tuvalu {
  background-image: image-url("flags32.png");
  background-position: 0px -7648px;
  width: 32px;
  height: 32px;
}
.flag32-uganda {
  background-image: image-url("flags32.png");
  background-position: 0px -7680px;
  width: 32px;
  height: 32px;
}
.flag32-ukraine {
  background-image: image-url("flags32.png");
  background-position: 0px -7712px;
  width: 32px;
  height: 32px;
}
.flag32-united_arab_emirates {
  background-image: image-url("flags32.png");
  background-position: 0px -7744px;
  width: 32px;
  height: 32px;
}
.flag32-united_kingdom {
  background-image: image-url("flags32.png");
  background-position: 0px -7776px;
  width: 32px;
  height: 32px;
}
.flag32-united_nations {
  background-image: image-url("flags32.png");
  background-position: 0px -7808px;
  width: 32px;
  height: 32px;
}
.flag32-united_states {
  background-image: image-url("flags32.png");
  background-position: 0px -7840px;
  width: 32px;
  height: 32px;
}
.flag32-unknown {
  background-image: image-url("flags32.png");
  background-position: 0px -7872px;
  width: 32px;
  height: 32px;
}
.flag32-uruguay {
  background-image: image-url("flags32.png");
  background-position: 0px -7904px;
  width: 32px;
  height: 32px;
}
.flag32-us_virgin_islands {
  background-image: image-url("flags32.png");
  background-position: 0px -7936px;
  width: 32px;
  height: 32px;
}
.flag32-uzbekistan {
  background-image: image-url("flags32.png");
  background-position: 0px -7968px;
  width: 32px;
  height: 32px;
}
.flag32-vanuatu {
  background-image: image-url("flags32.png");
  background-position: 0px -8000px;
  width: 32px;
  height: 32px;
}
.flag32-vatican_city {
  background-image: image-url("flags32.png");
  background-position: 0px -8032px;
  width: 32px;
  height: 32px;
}
.flag32-venezuela {
  background-image: image-url("flags32.png");
  background-position: 0px -8064px;
  width: 32px;
  height: 32px;
}
.flag32-vietnam {
  background-image: image-url("flags32.png");
  background-position: 0px -8096px;
  width: 32px;
  height: 32px;
}
.flag32-wales {
  background-image: image-url("flags32.png");
  background-position: 0px -8128px;
  width: 32px;
  height: 32px;
}
.flag32-wallis_and_futuna {
  background-image: image-url("flags32.png");
  background-position: 0px -8160px;
  width: 32px;
  height: 32px;
}
.flag32-western_sahara {
  background-image: image-url("flags32.png");
  background-position: 0px -8192px;
  width: 32px;
  height: 32px;
}
.flag32-yemen {
  background-image: image-url("flags32.png");
  background-position: 0px -8224px;
  width: 32px;
  height: 32px;
}
.flag32-zambia {
  background-image: image-url("flags32.png");
  background-position: 0px -8256px;
  width: 32px;
  height: 32px;
}
.flag32-zimbabwe {
  background-image: image-url("flags32.png");
  background-position: 0px -8288px;
  width: 32px;
  height: 32px;
}
