// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors.css.scss";
@import "bourbon";

.game{
  .thumbnail {
    min-height: 202px;
    h3 { min-height: 60px; }
  }
  h3, h4{text-align: center;}
}

h3.page-section { margin-bottom: 10px; border-bottom: solid 1px #EEE}

#technical{font-size: 2em;}

.box{
  @include box-shadow(0 0 5px 3px $smoke);
}

.header{
  .title{ font-size:2em; display:block;}
  margin-bottom: 15px;
  background-color: $smoke;
  margin-left: 0;
  padding: 5px 0;
}


.empty{ text-align:center; }
.actions { margin: 10px 0;}
.games td{vertical-align: middle;}
