// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors.css.scss";
@import "bourbon";

.game{
  background-color: $smoke;
  padding:0;
  h3{text-align: center;}
}


#technical{font-size: 2em;}

.box{
  @include box-shadow(0 0 5px 3px $smoke);
}

.header{
  .title{ font-size:2em; margin:15px -20px; display:block;}
  margin-bottom: 15px;
  background-color: $smoke;
  margin-left: 0;
  padding: 5px 0;
}


.editions td{vertical-align: middle;}
